.accordion-container {
    overflow-y: auto;
    margin-top: 1px;
}

.accordion-container .accordion-summary {
    background-color: @cc-accordian-color;
    color: @cc-text-color-light;
}

.accordion-container .accordion-details-buttons {
    // 16px is based on MUI default styles
    display: flex;
    gap: 16px;

    padding: 16px;
}
