.button-list {
    position: absolute;
    right: 0;

    display: flex;
    align-items: center;
    gap: 12px;

    padding: 6px;

    background-color: @overlay-background;
}

.button-list.top {
    top: 0;
}

.button-list.side {
    top: 60px;
    flex-direction: column;
}
