@import "./vars.less";

.jaia-dialog-container {
    position: fixed;
    z-index: @jaia-dialog-z-index;
}

.jaia-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    width: 345px;
    padding: 15px;

    border: 1px solid #9ca3af;
    border-radius: 12px;

    background-color: #d3d3d3;
    font-family: @global-font-family;
}

.jaia-dialog.alert {
    gap: 24px;
}

.jaia-dialog h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: @cc-text-color;
}

.jaia-dialog p {
    font-size: 1.1rem;
    text-align: center;
}

.dialog-list {
    margin: 8px 0 12px 16px;
    padding: 0;
    font-size: 0.85rem;
}

.dialog-warn {
    font-size: 0.85rem;
    color: #f87171;
}

.dialog-warn-list {
    margin: 8px 0 12px 16px;
    padding: 0;
    color: #f87171;
    font-size: 0.85rem;
}

.dialog-button-row {
    display: flex;
    gap: 15px;
}

.dialog-button {
    all: unset;
    width: 120px;

    padding: 15px;
    border-radius: 12px;

    text-align: center;

    background-color: @cc-background-color;
}

.blocking-overlay {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    background-color: transparent;
}
