.engineering-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 12px;
    border: 1px solid #000;
    border-radius: 6px;
}

.engineering-container .bot-select-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.engineering-container .heading {
    text-align: center;
}

.engineering-container table {
    table-layout: fixed;
    border-collapse: collapse;
}

.engineering-container td {
    border-bottom: 1px solid #000;
    padding: 3px 3px 3px 0;
}

.engineering-container input {
    max-width: 75px;
}

.engineering-button {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border: 1px solid #000;
    border-radius: 6px;
    text-align: center;
    color: #000;
    cursor: pointer;
}
