@import "./vars.less";

.jaia-input {
    all: unset;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid #d1d5db;
    border-radius: 3px;
    padding: 4px 6px;
    text-align: right;
}
