.ol-zoom {
    display: flex;
    flex-direction: column;
    gap: 3px;

    position: absolute;
    right: 6px;
}

.ol-control-button {
    border: none;
}

.ol-rotate-reset {
    position: absolute;
    bottom: 12px;
    right: -9px;
}
