@panel-top: 66px;
@panel-right: 66px;

.jaia-panel {
    position: absolute;
    top: @panel-top;
    right: @panel-right;

    background-color: @overlay-background;
    padding: 12px;
}

.jaia-panel-title {
    text-align: center;

    color: #fff;

    font-size: 1.1rem;
    font-weight: 600;
}
