@import "./util.less";

.jaia-panel {
    background-color: @overlay-background;
    padding: 12px;
}

.jaia-panel-title {
    text-align: center;

    color: #fff;

    font-size: 1.1rem;
    font-weight: 600;
}
