@import "./vars.less";

.jaia-panel {
    position: absolute;
    top: @panel-top;
    right: @panel-right;
    max-height: @panel-max-height;
    z-index: jaia-panel-z-index;

    background-color: @overlay-background;
    padding: 12px;
}

.jaia-panel-title {
    text-align: center;

    color: #fff;

    font-size: 1.1rem;
    font-weight: 600;
}
