// Panels
@panel-max-height: 80vh;
@panel-top: 66px;
@panel-right: 66px;

// Buttons
@jaia-button-height: 48px;
@jaia-button-width: 48px;
@jaia-button-background-color: #fff;
@jaia-button-border-radius: 12px;
@jaia-button-padding: 6px;
@jaia-button-box-shadow: #333 1px 1px 6px;

// Colors
@cc-background-color: white;
@overlay-background: rgba(0, 0, 0, 0.7);
@cc-text-color: black;
@cc-text-color-light: white;
@cc-accordian-color: #767d7d;
@selected-color: rgba(108, 214, 237, 0.7);
@disabled-color: #4c4c47;
@panel-accent-color: #d3d3d3;

@controlled-color: #ff601c;
@tracked-color: #ff601c;
@disconnected: gray;

@good-color: #06c006;
@warning-color: #d5d506;
@error-color: #cc0505;

@rc-active-color: mediumpurple;
@waypoint-color: gold;

// Fonts
@global-font-family:
    "Helvetica Neue For Number",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;

// Z-Indexes
@jaia-panel-z-index: 100;
@rc-panel-z-index: 101;
@jaia-dialog-z-index: 102;
@congestion-warning-z-index: 103;
@connection-warning-z-index: 104;
