#!/usr/bin/env -S goby_launch -L -P -d 1000

# start the Goby processes
gobyd <(../../gen/bot.py gobyd) -vvv -n

# IMU sensor
~/jaiabot/src/python/adafruit-BNO055/imu.py 20000
jaiabot_adafruit-BNO055-driver <(../../gen/bot.py jaiabot_adafruit-BNO055-driver)

# Pressure sensor
~/jaiabot/src/python/pressure_sensor/pressure_sensor.py 20001
jaiabot_bar30-driver <(../../gen/bot.py jaiabot_bar30-driver)

# Salinity sensor
~/jaiabot/src/python/atlas-scientific-ezo-ec/as-ezo-ec.py 20002
jaiabot_atlas-scientific-ezo-ec-driver <(../../gen/bot.py jaiabot_atlas-scientific-ezo-ec-driver) -vv

# Sensor fusion
jaiabot_fusion <(../../gen/bot.py jaiabot_fusion) -vv

goby_gps <(../../gen/bot.py goby_gps)
goby_logger <(../../gen/bot.py goby_logger)
jaiabot_control_surfaces_driver <(../../gen/bot.py jaiabot_control_surfaces_driver) -vv

bot_pid_control <(../../gen/bot.py bot_pid_control) -vv
