.dataTable {
    margin: 10pt 0pt 0pt 0pt;
}

.dataTable > table {
    width: 100%;
    padding: 10pt;
    border-collapse: collapse;
    table-layout: fixed;
}

.dataTable td {
    width: 50%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-gutter: stable;
    scrollbar-width: auto;
    scrollbar-color: #ccc transparent;
    box-sizing: border-box;
}

table > thead {
    text-align: left;
    background-color: aliceblue;
}
