#!/bin/bash

set -x
set -e -u

old_ro_rootfs_mountpoint="/media/root-ro"
old_rw_overlay_mountpoint="/media/root-rw"

new_ro_rootfs_mountpoint=${old_rw_overlay_mountpoint}
new_rw_overlay_mountpoint=${old_ro_rootfs_mountpoint}

boot_mountpoint="/boot/firmware"

rootfstype=$(findmnt -n -o fstype /)

if [ "${rootfstype}" = "overlay" ]; then
    ## in place major upgrade
    
    ###############################
    # Live pivot onto underlay FS #
    ###############################

    mount -o remount,rw ${old_ro_rootfs_mountpoint}
    mkdir -p ${old_ro_rootfs_mountpoint}/oldroot
    mount --make-rprivate /
    pivot_root ${old_ro_rootfs_mountpoint} ${old_ro_rootfs_mountpoint}/oldroot
    for i in dev proc sys run boot/firmware var/log media/root-rw; do mount --move /oldroot/$i /$i; done
    systemctl daemon-reload
else
    ## AWS AMI
    mount $(blkid -L overlay) ${old_rw_overlay_mountpoint}
fi

###############################
# Remove rootfs overlayconf file (so if extraction step fails or is interrupted, will still boot into old underlay).
###############################

rm -f /etc/overlayroot.conf

###############################
# Extract new rootfs
###############################

rm -rf ${new_ro_rootfs_mountpoint}/*
tar --xattrs --xattrs-include="*" -xz -f {{ rootfs_filename }} -C ${new_ro_rootfs_mountpoint}

if [ "{{ upgrade_type }}" = "embedded" ]; then
    ## in place major upgrade
    
    ###############################
    # Restore reuse files
    ###############################

    rsync -aP {{ upgrade_reuse_dir }}/ ${new_ro_rootfs_mountpoint}/

    ###############################
    # Write new boot dir
    ###############################

    mount -o remount,rw ${boot_mountpoint}
    rsync -aP --delete {{ upgrade_boot_dir }}/ ${boot_mountpoint}/ 
fi
    
###############################
# Swap rootfs/overlay labels     
###############################
ROOTFS_DEVICE=$(blkid -L rootfs)
FS_TYPE=$(blkid -o value -s TYPE "$ROOTFS_DEVICE")
echo "Detected filesystem: $FS_TYPE on $ROOTFS_DEVICE"

case "$FS_TYPE" in
    ext4)
        e2label "$ROOTFS_DEVICE" overlay
        ;;
    btrfs)
        ROOTFS_MOUNTPOINT=$(findmnt -n -o TARGET $ROOTFS_DEVICE)
        btrfs filesystem label "$ROOTFS_MOUNTPOINT" overlay
        ;;
    *)
        echo "Error: Unsupported filesystem type '$FS_TYPE'"
        exit 1
        ;;
esac

btrfs filesystem label ${new_ro_rootfs_mountpoint} "rootfs"

###############################
# Clean up
###############################

if [ "{{ upgrade_type }}" = "embedded" ]; then
    rm -rf {{ upgrade_tmp_dir }}
    rm -rf {{ upgrade_reuse_dir }}
    rm -rf {{ upgrade_boot_dir }}
fi

###############################
# Reboot    
###############################

if [ "{{ upgrade_type }}" = "embedded" ]; then
    ## in place major upgrade
    systemctl reboot --force
else
    ## AWS AMI
    
    # Pivot to new root
    mount --make-rprivate /
    mkdir -p ${new_ro_rootfs_mountpoint}/oldroot    
    pivot_root ${new_ro_rootfs_mountpoint} ${new_ro_rootfs_mountpoint}/oldroot

    for i in dev proc sys run boot/firmware var/log; do mount --move /oldroot/$i /$i; done

    # move any mounts under /oldmount as well
    mount | awk '{print $3}' | grep "^/oldroot/" | sort -r | while read -r mountpoint; do
        new_mount="${mountpoint//oldroot\//}"
        mount --move "$mountpoint" "$new_mount"
    done
    
    update-grub
    
    root_partition=$(findmnt -n -o SOURCE /)
    root_device=$(lsblk -no PKNAME "$root_partition")

    mount -o remount,rw $boot_mountpoint
    mount -o bind $boot_mountpoint /boot/efi

    grub-install "/dev/$root_device" --no-uefi-secure-boot --removable
fi
