.sentinel-panel {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.track-data-container {
    display: grid;
    grid-template-columns: max-content 90px;
    column-gap: 18px;
    row-gap: 12px;

    padding: 12px;
    background-color: #fff;
}

.track-data-container .label {
    font-weight: 600;
}
