@import "../../style/util.less";

.hub-map-panel {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 6px;

    border: 2px solid #767d7d;
    z-index: 100;
}

.hub-map-layout-container {
    padding: 6px;
    background-color: #ffffff;
}

.hub-map-title {
    grid-row: 2 / 3;

    font-size: 1.2rem;
    font-weight: 600;

    align-self: center;
}

.hub-map-layer-list {
    width: 250pt;
    border: thin solid black;
    border-radius: 10pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

.hub-map-layer-name {
    margin: 10pt;
    white-space: nowrap; /*keep text on one line */
    overflow: hidden; /*prevent text from being shown outside the border */
    text-overflow: ellipsis; /*cut off text with an ellipsis*/
}

input.checkbox {
    margin: 10pt;
}

.danger {
    color: red;
}
