@import "../../style/util.less";

.offline-maps-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.offline-maps-container .heading {
    font-weight: 600;
}

.offline-maps-container svg {
    width: 30px;
    height: auto;
}

.geotiff-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px;
    border: 1px solid #9ca3af;
}

.save-tiles-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 12px;
    border: 1px solid #9ca3af;
}

.layer-selection-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.layer-selection-container svg {
    margin-top: -6px;
}

.offline-layers-container {
    padding: 12px;
    border: 1px solid #9ca3af;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.offline-layers-container ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.offline-layers-container li {
    background-color: #e5e7eb;
    padding: 12px;

    display: grid;
    grid-template-columns: 192px 30px max-content max-content;
    column-gap: 15px;
}

.offline-layers-container li .size {
    grid-column: 3 / 4;
}

.offline-layers-container li svg {
    width: 21px;
    height: auto;
}

.offline-layers-container .heading-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.heading-container .disk-space {
    font-style: italic;
}
