@import "../../style/util.less";

.hub-map-panel {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 6px;

    border: 2px solid #767d7d;
    z-index: 100;
}

.hub-map-section {
    margin-top: 10pt;
    margin-bottom: 10pt;

    h1 {
        font-size: 20pt;
        margin-bottom: 10pt;
        margin-top: 10pt;
    }
}

.hub-map-layout-container {
    padding: 6px;
    background-color: #ffffff;
}

.hub-map-title {
    grid-row: 2 / 3;

    font-size: 1.2rem;
    font-weight: 600;

    align-self: center;
}

.hub-map-layer-list {
    max-width: 340pt;
    background-color: #f0f0f0;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

.hub-map-layer-name {
    margin: 10pt;
    max-width: 70%;
    white-space: nowrap; /*keep text on one line */
    overflow: hidden; /*prevent text from being shown outside the border */
    text-overflow: ellipsis; /*cut off text with an ellipsis*/
}

.hub-map-layer-size {
    margin: 10pt;
}

input.checkbox {
    margin: 10pt;
}

.danger {
    color: red;
}

div.flex-row {
    display: flex;
    flex-direction: row;
}

div.flex-grow {
    flex-grow: 1;
}

div.flex-shrink {
    flex-shrink: 1;
}

div.flex-unshrinkable {
    flex-shrink: 0;
}

div.padded {
    padding: 10pt;
}
