@import "../../style/stylesheets/util.less";

.node-bgcolor(@col) {
    background-color: @col;
    color: if(luminance(@col) > 45, black, white);
}

#nodeList {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;

    max-height: 80vh;
    overflow-y: auto;

    background-color: @overlay-background;
    padding: 6px;

    .node-item {
        display: flex;
        align-items: center;
        justify-content: center;

        min-height: 50px;
        min-width: 50px;

        border: 1px solid white;
        .node-bgcolor(@good-color);

        cursor: pointer;
    }

    .bot-item {
        border-radius: @panel-corner-radius;
        font-size: 1.6rem;
    }

    .hub-item {
        border-radius: 20pt;
        font-size: 21px;
    }

    // The order of these matters
    > div.node-item.tracked {
        .node-bgcolor(@tracked-color);
    }
    > div.node-item.faultLevel1 {
        .node-bgcolor(@warning-color);
    }
    > div.node-item.faultLevel2 {
        .node-bgcolor(@error-color);
    }
    > div.node-item.disconnected {
        .node-bgcolor(@disconnected);
    }
    > div.node-item.selected {
        outline: 5px solid @selected-color;
    }
    > div.node-item.controlled {
        .node-bgcolor(@controlled-color);
    }
}
