.missions-panel {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 300px;

    .jaia-button-row {
        column-gap: 6px;
    }
}

.set-name {
    all: unset;
    border: 1px solid #767d7d;
    color: #fff;
    padding: 3px 6px;
}
