---
- name: Update Hubs known_hosts with new Bot(s)
  hosts: hubs
  gather_facts: no
  become: yes

  pre_tasks:
    - include_tasks: tasks/fleet-set-facts.yml

  tasks:
    - name: Remove all overlay files we are going to modify
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - /media/root-rw/overlay/etc/hosts
        - /media/root-rw/overlay/home/jaia/.ssh/known_hosts

    - name: Append bots to /etc/hosts and .ssh/known_hosts
      include_tasks: tasks/fleet-hub-add-known-host.yml
      loop: "{{ groups['bots'] }}"
      loop_control:
        loop_var: bot_inventory_name
      