---
- name: Upgrade JaiaBot packages
  hosts: all
  gather_facts: no
  become: yes
  vars_files:
    - vars/packages.yml
    
  tasks:
    - name: Install/upgrade jaiabot packages
      apt:
        update_cache: yes
        name: "{{ jaiabot_packages }}"
        state: latest

    - include_tasks: tasks/get_version.yml
