---
- name: Jaiabot upgrade all
  hosts: all
  become: yes
  gather_facts: yes
  vars_files:
    - vars/packages.yml

  tasks:
    - name: Remount firmware read-write
      shell: "mount -o remount,rw /boot/firmware"

    # Can hopefully be removed when we switch to EFI boot
    # For now we get an error with update-grub on amd64 images due to overlay root
    # Workaround this by move update-grub so it doesn't exist (thus skipping the update-grub step in the kernel postinst)
    - name: Move update-grub
      shell: "mv /usr/sbin/update-grub /usr/sbin/update-grub.tmp || true"
      when: ansible_architecture == "x86_64"

    - include_tasks: tasks/check-deb-proxy.yml      
    - include_tasks: tasks/read-debconf.yml
      
      # if we're using the hub deb proxy, pull all the packages for the hub first, to ensure the change of cache hits is as high as possible for the bots
    - name: Pre-cache hub
      include_tasks: tasks/prefetch-deb-proxy.yml
      when: using_hub_deb_cache and jaiabot_embedded_type == "hub"      
      
    - name: Install/upgrade jaiabot packages (allowing add/remove packages if necessary)
      apt:
        update_cache: yes
        name: "{{ jaiabot_packages }}"
        state: latest        
      
    - name: Upgrade remaining system packages (safe upgrade)
      apt:
        update_cache: yes
        upgrade: safe
        
    - include_tasks: tasks/get-version.yml

    - name: Remount firmware read-only
      shell: "mount -o remount,ro /boot/firmware"

    - name: Restore update-grub
      shell: "mv /usr/sbin/update-grub.tmp /usr/sbin/update-grub"
      when: ansible_architecture == "x86_64"

      
    # Do not include as it takes a long time if NTP isn't sync'd
    #- include_tasks: tasks/restart-jaiabot.yml
