build/*
CMakeCache.txt
CMakeFiles/
config/launch/simulation/all.launch
config/launch/simulation/preseed.goby
__pycache__
.vscode
*.egg-info/
src/stm32/Debug
src/stm32/Drivers
src/stm32/jaiabot
src/stm32/nanopb
src/stm32/*/Debug
src/stm32/*/jaiabot
src/stm32/*/nanopb
src/stm32/*/build
src/stm32/*/.project
src/stm32/*/.mxproject
src/stm32/*/.cproject
src/stm32/.settings/language.settings.xml
.claude/*

# === private files ===

*.key
*.rsa

# SSL
*.cer
*.crt
*.der
*.pem
*.p12

# SSH keys
id_ecdsa
id_ed25519
id_rsa
