
app {  #  (optional)
  glog_config {  # configure the Goby Logger (TTY terminal and 
                 # file debugging logger) (optional)
    tty_verbosity: QUIET  # Terminal verbosity (QUIET, WARN, 
                          # VERBOSE, DEBUG1, DEBUG2, DEBUG3) 
                          # (optional) (default=QUIET)
    show_gui: false  # Set to true to display windowed NCurses 
                     # GUI for terminal output. (optional) 
                     # (default=false)
    file_log {  # Open a file for (debug) logging. (optional)
      file_dir: ""  # Directory to store log file in. If not 
                    # specified, 'file_name' will be assumed to be 
                    # an full path to the log file (optional)
      verbosity: VERBOSE  # Verbosity for this file log (QUIET, 
                          # WARN, VERBOSE, DEBUG1, DEBUG2, DEBUG3) 
                          # (optional) (default=VERBOSE)
      omit {  #  (optional)
        file_timestamp: false  #  (optional) (default=false)
        latest_symlink: false  #  (optional) (default=false)
      }
    }
  }
  simulation {  # Simulation related settings (optional)
    time {  #  (optional)
      use_sim_time: false  # Enable the use of a different clock 
                           # for all calls to 
                           # goby::time::SystemClock::now<time::Micr
                           # oTime>() and related (optional) 
                           # (default=false)
      warp_factor: 1  # Warp factor used to simulate 
                      # faster-than-realtime missions. For example 
                      # warp_factor: 10 means run the clock 10x the 
                      # real time. (optional) (default=1)
    }
  }
}
interprocess {  #  (optional)
  platform: "default_goby_platform"  # Name for this platform 
                                     # (vehicle name, mooring name, 
                                     # topside name, etc.) 
                                     # (optional) 
                                     # (default="default_goby_platfo
                                     # rm")
  transport: IPC  # Transport to use: IPC uses UNIX sockets and 
                  # is only suitable for single machine 
                  # interprocess, TCP uses Internet Protocol and is 
                  # suitable for any reasonably high-speed LAN 
                  # (IPC, TCP) (optional) (default=IPC)
  socket_name: ""  # For transport == IPC, the path to the socket 
                   # file to use for comms with the Manager 
                   # (gobyd). If omitted, defaults to 
                   # "/tmp/goby_{platform}.manager (optional)
  ipv4_address: "127.0.0.1"  # For transport == TCP, IPv4 address 
                             # for the Manager (gobyd) (optional) 
                             # (default="127.0.0.1")
  ip_address: ""  # For transport == TCP, IPv4 or IPv6 address 
                  # for the Manager (gobyd) (optional)
  tcp_port: 11144  # For transport == TCP, TCP port for the 
                   # Manager (gobyd) (optional) (default=11144)
}
log_dir: ""  #  (required)
type_regex: ".*"  #  (optional) (default=".*")
group_regex: ".*"  #  (optional) (default=".*")
omit {  #  (optional)
  file_timestamp: false  #  (optional) (default=false)
  latest_symlink: false  #  (optional) (default=false)
}
load_shared_library: ""  #  (repeated)
log_at_startup: true  #  (optional) (default=true)
