.scan-for-bot-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 12px;
    border: 1px solid #000;
    border-radius: 6px;
}

.scan-for-bot-container .bot-select-container {
    display: flex;
    justify-content: space-between;
}

.scan-for-bot-container .heading {
    text-align: center;
}
