@import "../../style/stylesheets/vars.less";
/******** CSS SAVING/LOADING MISSIONS ********************/

.HorizontalFlexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 16px;
}

div.hoverable:hover {
    background-color: @cc-text-color;
    color: @cc-background-color;
}

.load-mission-panel {
    padding: 5pt;
    background-color: @cc-background-color;
    color: @cc-text-color;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border-radius: 5pt;
    box-shadow: 2px 2px 10px #222222ff;
}

.load-mission-panel .title {
    padding: 5pt;

    font-size: 1.25rem;
    text-align: center;
    color: @cc-text-color;
}

.load-mission-panel .missionList {
    width: 300pt;
    height: 200pt;
    overflow: auto;

    background-color: @cc-background-color;
}

.load-mission-panel .row {
    padding: 5pt;
    font-size: 1rem;
    background-color: @cc-background-color;
    color: @cc-text-color;
}

.load-mission-panel .selected,
.load-mission-panel .selected:hover {
    background-color: @cc-text-color;
    color: @cc-background-color;
}

.load-mission-panel button {
    all: unset;
    color: @cc-text-color;
}
