[Unit]
Description=JaiaBot Camera Driver

[Service]
Type=simple
User=${USER}
Group=${USER}

WorkingDirectory=/home/${USER}
ExecStart=/home/${USER}/venv/bin/python3 ./camera/camera_driver.py --device /dev/ttyS0

[Install]
WantedBy=multi-user.target
