.task-parameters {
    display: grid;
    grid-template-columns: min-content 75px min-content;
    align-items: center;
    gap: 12px;
}

.task-parameters .units {
    // Move units closer to input box
    margin-left: -6px;
}

.task-parameters .distance-calc {
    padding: 6px;
    text-align: right;
}

.task-parameters .select-on-map {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    gap: 15px;
}

.dive-parameters,
.drift-parameters {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.task-toggle-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 12px;
}
