.move-hub {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 12px;
    border: 1px solid #000;
    border-radius: 6px;
}

.move-hub .heading {
    grid-column: 2 / 3;
    align-self: center;

    font-weight: 600;
}

.move-hub .toggle-container {
    display: flex;
    align-items: center;
    gap: 18px;
}

.move-hub .location-input-container {
    display: grid;
    grid-template-columns: min-content 120px;
    gap: 12px;
    align-items: center;
}
