@import "../../style/stylesheets/util.less";

#hub-details {
    position: absolute;
    background-color: @overlay-background;
    top: 0;
    left: 60px;

    padding: 6px 12px 12px 12px;

    max-height: @panel-max-height;

    display: flex;
    flex-direction: column;

    .title-bar {
        display: flex;
        justify-content: space-between;

        // 16px aligns the title and X button with the accordion text and ^ icons
        padding: 12px 16px;
    }

    .title-bar h2,
    .title-bar .close-button {
        font-size: 1.7rem;
        font-weight: 600;
        color: @cc-text-color-light;
    }

    .title-bar .close-button {
        cursor: pointer;
    }

    #hub-details-accordions-container {
        overflow-y: auto;
    }

    table {
        margin: 8px 0;
    }

    td {
        padding: 6px 12px;
        font-size: 1rem;
    }
}
