.download-queue-outer-container {
    position: absolute;
    top: 66px;
    right: 66px;

    min-width: 250px;

    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #767d7d;
  
    z-index: 1;
  }

  .download-queue-inner-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12pt 8pt;
    padding: 12px;
    background-color: #767d7d;
    font-size: 1.1rem;

    /* 282.54 = height of rc panel, 66 = height of top toolbar, 58 = height of btm btn container, 12 = margins/paddings */
    max-height: calc(100vh - (282.54px + 66px + 58px + 14px));
    overflow-y: auto;
}

.download-queue-card {
    display: flex;
    align-items: center;
    gap: 45px;

    padding: 9px 18px;
    background-color: #FFFFFF;
}
