.rally-base-grid {
    position: absolute;
    top: 66px;
    right: 66px;

    background-color: rgba(0, 0, 0, 0.7);
    padding: 6px;

    border: 2px solid #767d7d;
  
    z-index: 100;
}

.rally-layout-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 12px;
    padding: 6px;
    background-color: #FFFFFF;
}

.rally-outer-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 3px 24px 24px 24px;
}

.rally-close-btn {
    justify-self: flex-start;
}

.rally-close-btn:hover {
    cursor: pointer;
}

.rally-container {
    grid-row: 3 / 4;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.rally-title {
    align-self: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.rally-container > .button-jcc {
    margin: 0 !important;
    width: 42px !important;
    height: 42px !important;
}
