div.repeats-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

.runTitleBar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    .botName {
        flex-grow: 1;
        text-align: right;
        font-size: smaller;
        font-style: italic;
        padding-right: 20pt;
    }

}
