#!/usr/bin/env -S goby_launch -P

gobyd <(../../gen/hub.py gobyd) -z -v -n
goby_liaison_jaiabot <(../../gen/hub.py goby_liaison)
goby_gps <(../../gen/hub.py goby_gps)
goby_logger <(../../gen/hub.py goby_logger)

# Jaia Metadata
jaiabot_metadata <(../../gen/hub.py jaiabot_metadata)

jaiabot_hub_manager <(../../gen/hub.py jaiabot_hub_manager) -vv
jaiabot_web_portal <(../../gen/hub.py jaiabot_web_portal) -vv
