// Sizes
@left-sidebar-initial-width: 0px;
@status-bar-height: 0px;

@control-corner-radius: 12px;
@panel-corner-radius: 8px;

@command-button-size: 75px;
@command-button-padding: 8px;
@command-button-margin: 8px;
@map-button-size: 50px;
@drawer-button-size: 50px;
@drawer-summary-height: 50px;

@layout-margin: 0.5vw;
@layout-margin-px: 0.5 * 16px; // Assumes a 1600px wide screen
@stop-width: 25vw;

// Logo blue
@ax-blue: #2073ba;

// Other
@ax-tan1: #f7d596;
@ax-green: #80a353;
@ax-blue2: #378de2;
@ax-cyan: #73e2ed;
@ax-paleblue: #bbebef;
@ax-brown: #4a3f29;
@ax-darkteal: #17646e;
@ax-teal: #28b0b0;
@ax-tan2: #ddcdbe;
@ax-tan3: #ede4df;

@ab-yellow1: #f4f7be;
@ab-yellow2: #e5f77d;
@ab-brown1: #deba6f;
@ab-gray1: #2d2d2a;
@ab-gray2: #4c4c47;
@ab-yellow3: #e6c229;
@ab-orange1: #f17105;
@ab-magenta1: #d11149;
@ab-blue2: #8fbfe0;
@ab-purple1: #7c77b9;
@ab-teal1: #0bc9cd;
@ab-gray3: #264653;
@ab-yellow4: #e9c46a;
@ab-orange2: #f4a261;
@ab-orange4: #f44e3f;
@ab-yellow5: #fcff4b;
@ab-yellow6: #ffad05;
@ab-blue3: #7cafc4;
@ab-yellow7: #e0d486;
@ab-blue4: #739dc1;
@ab-peach1: #d0a07a;
@ab-dull1: #b4c7b1;
@ab-orange3: #d98931;
@ab-blue5: #9dc0de;
@ab-pink2: #ea6843;
@ab-white1: #eee4c5;
@ab-blue6: #24bbd3;

@te-1: @ax-blue;
@te-2: #3230c4;
@te-3: #ffc71c;
@te-5: #ffa01c;

@tr-1: @ax-blue;
@tr-2: #ff601c;
@tr-3: #ffc71c;

@opposite-ax-blue: #ffa01c;

@button-color: @ax-blue; // FG always white
@selected-color: @ab-teal1;
@inactive-color: @ab-gray2;

// Used when bot is underwater
@underwater-color: @ab-gray3;
// Used when measuring drift
@drifting-color: @ab-blue4;

@controlled-color: @tr-2;
@tracked-color: @te-2;

@mission-color: @ab-brown1;
@mission-goal-color: @ab-orange3;

@good-color: #00cc00;
@warning-color: #ffff00;
@error-color: #ff0000;

@overlay-background: rgba(0, 0, 0, 0.7);

.bgcolor(@col) {
  background-color: @col;
  color: if(luminance(@col) > 45, black, white);
}

body {
  overflow: hidden;
  background: #ffffff;
  font-size: 16pt;
  margin: 0;
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  vertical-align: middle;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  padding: 0;
  border-width: 1px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

#axui_container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100 vw;
  height: 100 vh;
  overflow: hidden;

  button,
  .button {
    display: inline-block;
    border-radius: @control-corner-radius;
    border: 0px solid black;
    box-shadow: #333 1px 1px 5px;
    .bgcolor(@button-color);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 0 @layout-margin-px 0 0;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;

    &.inactive {
      background: @inactive-color;
      // Going for low contrast here
      color: if(luminance(@inactive-color) < 45, black, white);
    }
    &.selected,
    &.active {
      .bgcolor(@selected-color);
    }
    &.buttonCheckbox,
    &.not-a-button {
      background: none;
      border: none;
      box-shadow: none;
      color: inherit;
      &::selection {
        border: none;
      }
    }
    &.active-rc {
      .bgcolor(@controlled-color);
    }
    &.active-track {
      .bgcolor(@tracked-color);
    }
    svg {
      font-size: 24px;
      width: 24px;
      height: 24px;
      margin: 0;
    }
  }

  h2 {
    font-size: 1.3em;
    margin: 0;
    font-weight: 500;
  }

  #eStop {
    position: absolute;
    top: 0;
    left: 50%;
    width: @stop-width;
    height: 70px;
    margin-left: -@stop-width / 2;
    padding: 0;
    z-index: 1000;
    button {
      width: 100%;
      height: 100%;
      background: red;
      color: white;
      overflow: hidden;
      font-size: 48px;
      font-weight: bolder;
      border-radius: 0 0 @control-corner-radius @control-corner-radius;
      // Make sure everything stays on one line by removing the left and right padding
      padding-left: 0;
      padding-right: 0;
      margin: 0;
      img {
        height: 80%;
        vertical-align: middle;
        position: relative;
        top: -5px;
        margin: 0 10px;
      }
    }
  }

  #botsSummary {
    width: (100vw - @stop-width)/2 - @layout-margin;
    height: @drawer-summary-height;
    position: absolute;
    top: 0;
    left: 0;
    background: @overlay-background;
    color: white;
    // text-align: center;
    display: flex;
    flex-flow: row nowrap;

    h2 {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 2em;
      box-sizing: border-box;
      width: 0;
      min-width: 0;
      overflow: hidden;
      color: white;
      font-size: 24pt;
      padding: 0;
      margin: auto 0;
      text-align: center;
    }

    #faultCounts {
      flex-grow: 1;
      flex-shrink: 0;
      display: flex;
      flex-flow: row nowrap;
      > span {
        flex-grow: 1;
        display: inline-block;
        height: @drawer-summary-height - (@layout-margin-px);
        width: auto;
        min-width: 1em;
        text-align: center;
        font-size: 1.4em;
        line-height: 1.4; // Needs to match font size
        border: 1px solid white;
        border-radius: @panel-corner-radius;
        margin: (@layout-margin-px / 2);
      }
      #faultLevel0Count {
        .bgcolor(@good-color);
      }

      #faultLevel1Count {
        .bgcolor(@warning-color);
      }

      #faultLevel2Count {
        .bgcolor(@error-color);
      }
    }

    > button {
      flex-grow: 0;
      flex-shrink: 0;
      // margin: @layout-margin-px / 2;
      margin: auto 0;
    }
  }
  #botsDrawer {
    position: absolute;
    left: 0;
    top: 0;
    width: 50pt;
    height: auto;
    max-height: 85vh;
    background: @overlay-background;
    border-radius: 0 0 @panel-corner-radius 0;
    display: flex;
    flex-flow: column nowrap;

    #botsList {
      color: lightgray;
      text-align: center;
      font-size: 12pt;

      flex-shrink: 1;

      overflow-y: auto;

      .bot-item {
        .unselectable;
        cursor: pointer;
        display: inline-block;
        border: 1px solid white;
        .bgcolor(@good-color);
        border-radius: @panel-corner-radius;
        font-size: 20pt;
        height: 40pt;
        line-height: 38pt;
        width: 40pt;
        margin: @layout-margin-px - 3;
        padding: 0;
        text-align: center;
        vertical-align: middle;
      }

      .hub-item {
        .unselectable;
        cursor: pointer;
        display: inline-block;
        border: 1px solid white;
        .bgcolor(@good-color);
        border-radius: 20pt;
        font-size: 20pt;
        height: 40pt;
        line-height: 38pt;
        width: 40pt;
        margin: @layout-margin-px / 2;
        padding: 0;
        text-align: center;
        vertical-align: middle;
      }
      
      // The order of these matters
      > div.bot-item.tracked {
        .bgcolor(@tracked-color);
      }
      > div.bot-item.faultLevel1 {
        .bgcolor(@warning-color);
      }
      > div.bot-item.faultLevel2 {
        .bgcolor(@error-color);
      }
      > div.bot-item.disconnected {
        .bgcolor(gray)
      }
      > div.bot-item.selected {
        outline: 5px solid @selected-color;
      }
      > div.bot-item.controlled {
        .bgcolor(@controlled-color);
      }  
    }

  }

  #botDetailsBox {

    position: absolute;
    background-color: black;
    top: 0pt;
    left: 50pt;
    color: white;
    padding: 8pt;
    border-radius: 8pt;

    h2.name {
      color: white;
      margin: 0;
    }

    table {
      margin: 8px 0;
    }

    td {
      padding: 5px 0.5em;
      font-size: 0.8em;
    }

    select {
      color: black;
    }
  }

  #speedControl {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 25vw;
    margin-left: -25vw / 2;
    z-index: 1800;

    display: flex;
    flex-flow: row nowrap;

    #speedSlider {
      flex-grow: 1;
      margin-top: 25px;
    }

    button {
      margin: @layout-margin;
    }

    .ui-slider-handle {
      background: @button-color;
    }

    #diveButton {
      flex-grow: 1;
      height: 2.5em;
    }

    #throttleButtonSingle {
      flex-grow: 1;
      width: 100%;
      height: 2.5em;
    }
  }

  #mapLayers {
    position: absolute;
    bottom: 40px + (0 * @map-button-size) + (2 * @layout-margin-px);
    right: @layout-margin-px + @map-button-size;
    height: (8 * @map-button-size) + (6 * @layout-margin-px);
    max-height: 80%;
    max-width: 15em;

    background: @overlay-background;
    color: white;

    padding: @layout-margin 1em 0 0;
    margin: 0 @layout-margin;

    border-radius: @panel-corner-radius;
    overflow-y: auto;

    > ul:before {
      content: "Map Layers";
      font-weight: bolder;
      margin: 8px 0 0 -10px;
      display: block;
    }

    ul {
      padding-left: 1em;
      padding-bottom: @layout-margin;
      list-style: none;
    }

    li.group {
      padding-top: 5px;
      margin-top: @layout-margin;
    }

    li.group > label {
      font-weight: bold;
    }

    li.layer {
      /*
      margin: @layout-margin 0;
      padding: @layout-margin;
      background: white;
      color: black;
      border-radius: @panel-corner-radius;
      */

      input[type="checkbox"],
      input[type="radio"] {
        display: none;
      }

      input[type="checkbox"] + label,
      input[type="radio"] + label {
        display: block;
        position: relative;
        margin: @layout-margin 0 0 0;
        padding: @layout-margin;
        .bgcolor(@button-color);
        border-radius: @control-corner-radius;
        padding-left: 1.8em;
        line-height: 1.1em;
        box-shadow: #333 1px 1px 5px;
      }

      input[type="checkbox"] + label:before,
      input[type="radio"] + label:before {
        content: " ";
        position: absolute;
        top: @layout-margin;
        left: @layout-margin;
        height: 1em;
        width: 1em;
        .bgcolor(lightgray);
        // border: 2px inset lightgray;
        box-shadow: inset #333 1px 1px 5px;
        padding: 0;
        margin: 0;
        text-align: center;
      }

      input[type="checkbox"] + label:before {
        border-radius: 3px;
      }
      input[type="radio"] + label:before {
        border-radius: 50%;
        padding: 0px 0 0 1px;
      }

      input[type="checkbox"]:checked + label:after,
      input[type="radio"]:checked + label:after {
        display: block;
        position: absolute;
        top: @layout-margin;
        left: @layout-margin;
        content: " ";
        border: solid black;
        border-width: 0 3px 3px 0;
        padding: 0.3em 0.1em;
        margin-top: 0.08em;
        margin-left: 0.37em;
        width: 0.1em;
        height: 0.4em;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

      /*
      input[type="radio"]:checked + label:after {
        display: block;
        position: absolute;
        top: @layout-margin;
        left: @layout-margin;
        content: " ";
        background: black;
        border-radius: 50%;
        margin-top: 0.2em;
        margin-left: 0.23em;
        width: 0.6em;
        height: 0.6em;
      }
      */
    }

    label.disabled {
      opacity: 0.4;
    }

    .touch ::-webkit-scrollbar {
      width: 4px;
    }

    .touch ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }

    .touch ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    .group.layer-switcher-fold > label:before {
      content: "";
      border: solid white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      margin-right: 8px;
      margin-bottom: 4px;
    }

    .group.layer-switcher-fold.layer-switcher-close > label:before {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    .group.layer-switcher-fold.layer-switcher-open > label:before {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    .group.layer-switcher-fold.layer-switcher-close > ul {
      overflow: hidden;
      height: 0;
      padding: 0;
    }
  }

  #missionSummary {
    width: (100vw - @stop-width)/2 - (2 * @layout-margin);
    position: absolute;
    top: 0;
    right: 0;
    height: @drawer-summary-height;
    background: @overlay-background;
    color: white;
    display: flex;
    flex-flow: row nowrap;

    #toggleMissionDrawer {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      margin: 0 0 0 @layout-margin;
    }

    #missionFileManager {
      flex-grow: 1;
      width: auto;
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      z-index: 22;
      > h2 {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 2em;
        box-sizing: border-box;
        width: 0;
        min-width: 0;
        overflow: hidden;
        color: white;
        font-size: 24pt;
        padding: 0;
        margin: auto 0;
        text-align: center;
      }
      .file-manager {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        margin-top: (@drawer-summary-height - @map-button-size) / 2;
        padding-left: @layout-margin;

        > button {
          margin-top: 0;
          height: @map-button-size;
          min-width: @map-button-size;
        }
      }

      .file-manager-edit {
        display: flex;
        flex-flow: row nowrap;

        input {
          flex-grow: 1;
          flex-shrink: 0;
          width: 4em;
          height: 40px;
          margin-top: 2px;
          font-size: 18pt;
          border-radius: @control-corner-radius;
          background: white;
          color: black;
          border: none;
        }
        span {
          flex-grow: 0;
          flex-shrink: 0;
          padding-left: @layout-margin;
        }
      }

      input {
        background: @overlay-background;
        padding: 0.2em 0.3em;
      }

      .file-manager-list {
        > div {
          margin-right: -50px;
        }
        table {
          margin-top: @layout-margin-px;
          border: 1px inset gray;
          border-radius: @panel-corner-radius;
          width: 100%;

          thead {
            background: darkgray;
            color: black;
            border: 1px outset gray;
          }
          tbody tr {
            background: white;
            color: black;
            border-bottom: 1px solid gray;
            cursor: pointer;
            width: 100%;

            td {
              padding: 0.2em;
            }

            td.file-name {
              width: auto;
            }

            td.file-delete {
              width: min-content;
            }
          }
        }
      }
    }

    #missionControl {
      flex-grow: 1;
      flex-basis: auto;
      .mission-state {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        h2 {
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 10px;
          display: block;
          color: white;
          word-wrap: none;
          overflow-x: auto;
          overflow-y: hidden;
          line-height: 2;
          padding-left: @layout-margin;
        }
        .missionControlButton {
          display: none;
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: auto;
        }
      }
    }
  }

  #missionDrawer {
    width: (100vw - @stop-width)/2 - (2 * @layout-margin);
    position: absolute;
    top: @drawer-summary-height;
    right: 0;
    bottom: 0;
    height: auto;
    background: @overlay-background;
    color: white;
    #closeMissionDrawer {
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      box-shadow: none;
      z-index: 200;
    }
    #missionPlanning {
      position: relative;
      height: 100%;
      display: flex;
      flex-flow: column;

      #missionPlanner {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        position: relative;
        display: block;
        height: 25vh; // must have height set
        z-index: 10;
        padding: 0;
        margin: 0;

        td {
          padding: 0 3px;
        }

        .action-condition {
          input {
            text-align: right;
            border: 1px solid #ddd;
            border-radius: @panel-corner-radius;
            // margin-left: 0.5em;
            width: 2em;
          }
        }

        .command-editor {
          margin: @layout-margin;
        }

        .actionActions {
          text-align: right;
        }

        #missionSequenceEditor {
          position: relative;
          height: 100%;

          > span button:first-child {
            margin-left: 0.5em;
          }

          .sequenceEditor {
            position: absolute;
            top: 2.5em;
            right: 0;
            left: 0;
            bottom: 0;
          }
        }
      }
    }

    #missionExecution {
      position: relative;
      height: 100%;
      display: flex;
      flex-flow: column;

      #missionPlanView {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        height: 50px;
        position: relative;
        z-index: 10;
        padding: 0;
        margin: 0;
        td {
          padding: 0 3px;
        }

        #missionSequenceEditor {
          position: relative;
          height: 100%;
          .sequenceEditor {
            height: 100%;
            // position: absolute;
            // top: 0;
            // left: 0;
            // right: 0;
            // bottom: 0;
          }
        }
      }
    }
  }

  #commandsButton {
    width: ((@command-button-size + (@command-button-margin * 2)) * 3);
    position: absolute;
    bottom: 0;
    left: 0;
    height: @drawer-summary-height; // height gets multiplied by font size if you specify it in em
    background: @overlay-background;
    display: flex;
    flex-flow: row nowrap;
    padding-left: @layout-margin * 2;

    h2 {
      font-size: 24pt;
      color: white;
      flex-grow: 1;
      margin: auto 0;
    }

    button {
      flex-grow: 0;
      flex-shrink: 0;
      margin: 0;
      color: white;
    }
  }
  #commandsDrawer {
    height: ((@command-button-size + (@command-button-margin * 2)) * 1);
    position: absolute;
    bottom: 0;
    left: 0;
    background: @overlay-background;
    border-radius: 0 @panel-corner-radius 0 0;

    display: flex;
    flex-flow: row nowrap;

    #globalCommandBox {
      // width: ((@command-button-size + (@command-button-margin * 2)) * 12);
      height: ((@command-button-size + (@command-button-margin * 2)) * 12);
      display: flex;
      flex-flow: row wrap;
      border-radius: @panel-corner-radius;

      .globalCommand {
        margin: @command-button-margin;
        padding: @command-button-padding;
        height: @command-button-size;
        width: auto;
        min-width: @command-button-size;
        min-height: @command-button-size;

        &.selected {
          .bgcolor(@controlled-color);
        }

        img {
          display: block;
          width: @command-button-size - (2 * @command-button-padding);
          height: auto;
        }
        svg {
          display: block;
          width: @command-button-size - (2 * @command-button-padding);
          height: auto;
          font-size: @command-button-size - (2 * @command-button-padding);
        }
      }
    }

    #liveCommandEdit {
      width: auto;
      max-width: 350px;
      height: ((@command-button-size + (@command-button-margin * 2)) * 3);
      background: none;
      padding: 0.5em;
      color: white;

      h2 {
        color: white;
      }

      input {
        max-width: 4em;
      }

      .formationControl {
        max-width: 70px;
        padding: 0;
        text-align: center;

        > * {
          margin: 5px;
        }

        .details {
          position: absolute;
          bottom: -@layout-margin-px;
          left: 100%;
          margin-left: @layout-margin-px * 2;
        }
      }

      #sendLiveCommand {
        font-size: 1.5em;
        float: right;
        padding-left: 1em;
        padding-right: 1em;
        position: absolute;
        top: 0;
        left: 100%;
        margin-left: @layout-margin;
      }
    }
  }

  #viewControls {
    position: absolute;
    bottom: 40px + (3 * @map-button-size) + (4 * @layout-margin-px);
    right: 5px;
    top: @drawer-summary-height;
    display: flex;
    flex-flow: column-reverse wrap-reverse;
    justify-content: flex-end;
    min-height: @map-button-size + @layout-margin;

    button {
      width: @map-button-size;
      min-height: @map-button-size;
    }

    > * {
      flex-grow: 1;
      margin: @layout-margin 0 0 @layout-margin;
      display: block;
      position: relative;
      // height: fit-content;
      height: min-content;
      max-height: (@map-button-size * 2) + (@layout-margin-px * 2);
      > button {
        height: 100%;
      }
    }

    #measureResult {
      position: absolute;
      right: 100%;
      // top: (1 * @map-button-size) + (2 * @layout-margin-px);
      top: 0;
      background: white;
      color: black;
      border-radius: @panel-corner-radius;
      width: max-content;
      margin: @layout-margin;
      padding: @layout-margin;
    }

    #surveyPolygonResults {
      position: absolute;
      right: 100%;
      // top: (1 * @map-button-size) + (2 * @layout-margin-px);
      top: 0;
      background: white;
      color: black;
      border-radius: @panel-corner-radius;
      width: max-content;
      margin: @layout-margin;
      padding: @layout-margin;
    }
  }

  .command-editor {
    background: black;
    color: white;
    border: 1px solid white;
    border-radius: @control-corner-radius;
    margin: 0 0 @layout-margin-px 0;
    padding: @layout-margin-px;

    .input-group {
      margin: 0.2em;
      line-height: 1.5;
    }

    input,
    .input-group-addon {
      display: inline-block;
      color: black;
      background: white;
      text-align: right;
      border: 1px solid #ddd;
      border-radius: @control-corner-radius 0 0 @control-corner-radius;
      border-right: none;
      padding: 0;
      height: 33px;
      vertical-align: middle;
      font-family: monospace;
    }

    input {
      width: 4em;
    }

    input:last-child {
      border-radius: @control-corner-radius;
      border-right: 1px solid #ddd;
    }

    .input-group-addon {
      border-left: none;
      border-radius: 0 @control-corner-radius @control-corner-radius 0;
      padding-right: 10px;
    }

    .help-block {
      display: inline-block;
    }

    h2 {
      color: white;
    }

    .change-command {
      display: none;
    }

    .formationControl {
      > * {
        display: inline-block;
        margin: @layout-margin 0 @layout-margin @layout-margin;
      }

      button.formationType {
        display: inline-block;
        padding: 0;
        margin: 0;
      }

      .details {
        background: black;
        text-align: left;

        color: white;

        font-size: 14px;
        border: 1px solid white;
        border-radius: @panel-corner-radius;
        padding: 0.5em;
        width: min-content;

        dl {
          margin: 0;
          line-height: 0.8em;
        }
        dt {
          display: inline-block;
          width: 14em;
        }
        dd {
          display: inline-block;
          width: 7em;
          margin-left: -7em;
        }
      }
    }
    .missionActionTriggerSelect,
    .missionActionTypeSelect {
      border: 1px solid black;
      border-radius: @panel-corner-radius;
      padding: 0.2em 0.5em;
      margin: 0.5em 0;
      background: white;
      color: black;
    }

    .xyLocationInput,
    .headingInput {
      border: 1px solid black;
      border-radius: @panel-corner-radius;
      padding: 0.2em 0.5em;
      margin: 0.5em 0;
      background: white;
      color: black;
      button {
        font-size: 18px;
      }
    }

    .command-select {
      display: flex;
      flex-flow: row wrap;
      button {
        width: 76px;
        height: 76px;
        padding: 8px;
        margin: 8px;

        > * {
          width: 60px;
          height: auto;
        }
      }
    }

    .commandTypeSelect {
      position: relative;
      min-height: 2.5em;
    }

    input {
      color: black;
    }
  }

  #controlsOverlay {
    display: block;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 10;
    text-align: right;
    background-color: @overlay-background;
    h2 {
      color: white;
      text-align: center;
    }
    padding: 0.5em;
  }

  #mapContextOverlay {
    display: block;
  }

  .map-control {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    right: 60px;
    bottom: @status-bar-height;
    // left: @left-sidebar-initial-width;
    left: 0;
    z-index: 0;

    .ol-control {
      position: absolute;
      // border-radius: @panel-corner-radius;
      // padding: 0px;
    }
    .ol-control:hover {
      // background-color: rgba(255, 255, 255, 0.6);
    }
    @media print {
      .ol-control {
        display: none;
      }
    }
    .ol-control button {
      display: block;
      width: @map-button-size;
      height: @map-button-size;
      text-align: center;
      margin: 0;
    }
    .ol-control button::-moz-focus-inner {
      border: none;
      padding: 0;
    }
    .ol-touch .ol-control button {
      // font-size: 1.5em;
    }
    .ol-control button:hover,
    .ol-control button:focus {
      text-decoration: none;
      // background-color: rgba(0, 60, 136, 0.7);
    }

    .ol-zoom,
    .ol-mouse-position,
    .ol-rotate {
      right: @layout-margin;
    }

    .ol-overlaycontainer-stopevent {
      overflow: visible;
    }

    .ol-zoom {
      position: absolute;
      bottom: 16px;
      right: -55px;
    }
    .ol-zoom .ol-zoom-in {
      border-radius: @control-corner-radius @control-corner-radius 0 0;
    }
    .ol-zoom .ol-zoom-out {
      border-radius: 0 0 @control-corner-radius @control-corner-radius;
    }

    .ol-mouse-position {
      bottom: 50px;
      right: 110px;
      height: (2 * 18px) + (2 * 2px);
      position: absolute;
      .bgcolor(@overlay-background);
      border-radius: @panel-corner-radius;
      padding: 2px;
      font-size: 14px;
      line-height: 18px;
      width: 100px;
      text-align: center;
    }

    .ol-scale-line {
      .bgcolor(@overlay-background);
      border-radius: @panel-corner-radius;
      padding: 2px;
      position: absolute;
      bottom: 20px;
      right: 110px;
    }
    .ol-scale-line-inner {
      border: 1px solid white;
      border-top: none;
      font-size: 14px;
      text-align: center;
      margin: 1px;
      will-change: contents, width;
    }

    .ol-rotate {
      bottom: 120px;
      right: -55px;
      // transition: opacity 0.25s linear, visibility 0s linear;
      button {
        padding: 5px 3px 3px 5px;
        .ol-compass {
          display: block;
          font-weight: normal;
          width: @map-button-size - 8px;
          height: @map-button-size - 8px;
          font-size: @map-button-size - 8px;
          line-height: @map-button-size - 8px;
          text-align: center;
          margin: 0px;
          will-change: transform;
        }
      }
    }
    .ol-rotate.ol-hidden {
      // opacity: 0;
      // visibility: hidden;
      // transition: opacity 0.25s linear, visibility 0s linear 0.25s;
      button {
        background: @inactive-color;
        // Going for low contrast here
        color: if(luminance(@inactive-color) < 45, black, white);
      }
    }

    .ol-overlay-container {
      will-change: left, right, top, bottom;
    }
    .ol-unsupported {
      display: none;
    }
    .ol-viewport,
    .ol-unselectable {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .ol-viewport {
      overflow: visible !important;
    }
    .map-control {
      overflow: visible;
    }
    .ol-selectable {
      -webkit-touch-callout: default;
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
    .ol-grabbing {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: grabbing;
    }
    .ol-grab {
      cursor: move;
      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: grab;
    }
    .ol-box {
      box-sizing: border-box;
      border-radius: @panel-corner-radius;
      border: 2px solid @ax-blue;
    }
    .ol-zoom-extent {
      top: 4.643em;
      left: 0.5em;
    }
    .ol-touch .ol-zoom-extent {
      top: 5.5em;
    }
    .ol-full-screen {
      right: 0.5em;
      top: 0.5em;
    }
    .ol-zoom-extent button {
      line-height: 1.4em;
    }

    .ol-attribution {
      text-align: right;
      bottom: 0.5em;
      right: 0.5em;
      max-width: calc(100% - 1.3em);
    }
    .ol-attribution ul {
      margin: 0;
      padding: 0 0.5em;
      font-size: 0.7rem;
      line-height: 1.375em;
      color: #000;
      text-shadow: 0 0 2px #fff;
      :before {
        content: "©";
      }
    }
    .ol-attribution li {
      display: inline;
      list-style: none;
      line-height: inherit;
    }
    .ol-attribution li:not(:last-child):after {
      content: " ";
    }
    .ol-attribution img {
      max-height: 2em;
      max-width: inherit;
      vertical-align: middle;
    }
    .ol-attribution ul,
    .ol-attribution button {
      display: inline-block;
    }
    .ol-attribution.ol-collapsed ul {
      display: none;
    }
    .ol-attribution:not(.ol-collapsed) {
      background: none;
    }
    .ol-attribution.ol-uncollapsible {
      bottom: 0;
      right: 25%;
      border-radius: @panel-corner-radius @panel-corner-radius 0 0;
      height: 1em;
      line-height: 1em;
    }
    .ol-attribution.ol-uncollapsible img {
      margin-top: -0.2em;
      max-height: 1.6em;
    }
    .ol-attribution.ol-uncollapsible button {
      display: none;
    }

    .ol-zoomslider {
      height: 200px;
    }
    .ol-zoomslider button {
      position: relative;
      height: 10px;
    }

    .ol-overviewmap {
      left: 0.5em;
      bottom: 0.5em;
    }
    .ol-overviewmap.ol-uncollapsible {
      bottom: 0;
      left: 0;
      border-radius: 0 @panel-corner-radius 0 0;
    }
    .ol-overviewmap .ol-overviewmap-map,
    .ol-overviewmap button {
      display: inline-block;
    }
    .ol-overviewmap .ol-overviewmap-map {
      border: 1px solid #7b98bc;
      height: 150px;
      margin: 2px;
      width: 150px;
    }
    .ol-overviewmap:not(.ol-collapsed) button {
      bottom: 1px;
      left: 2px;
      position: absolute;
    }
    .ol-overviewmap.ol-collapsed .ol-overviewmap-map,
    .ol-overviewmap.ol-uncollapsible button {
      display: none;
    }
    .ol-overviewmap:not(.ol-collapsed) {
      background: rgba(255, 255, 255, 0.8);
    }
    .ol-overviewmap-box {
      border: 2px dotted rgba(0, 60, 136, 0.7);
    }
    .ol-overviewmap .ol-overviewmap-box:hover {
      cursor: move;
    }
  }

  #statusBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: @status-bar-height;
    background: lightgray;
    z-index: 1200;
    text-align: center;
  }

  .sortable-placeholder {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px dotted lightgray;
  }

  .ui-slider {
    margin: 10px;
  }

  .form-group {
    // border-bottom: 1px solid gray;
    // &:last-child {
    //   border-bottom: none;
    // }
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    > * {
      margin: auto 0.3em;
    }
    button {
      font-size: 16px;
    }
    label {
      flex-grow: 1;
      text-align: right;
    }

    &.read-only {
      display: inline-block;

      .help-block {
        display: none;
      }
    }
  }

  .sequenceEditor {
    max-height: 100%;
    overflow-y: auto;
    .sequenceItem {
      border: 1px solid black;
      .bgcolor(@mission-color);
      border-radius: @panel-corner-radius;
      margin: 10px @layout-margin;
      padding: 10px;
      position: relative;
      // padding-left: 3em;
      &.selected {
        .bgcolor(@selected-color);
      }
      &.active {
        .bgcolor(@mission-goal-color);
      }
      .missionActionIndex {
        text-align: left;
        position: absolute;
        left: 0.5em;
        top: 0.5em;
      }
    }
  }

  .prependedButton {
    position: absolute;
    top: @layout-margin / 2;
    right: @layout-margin / 2;
    margin: 0;
  }

  .column-left,
  .column-right {
    position: absolute;
    height: auto;
    top: 0;
    bottom: @status-bar-height;
    z-index: 10;
    background-color: @overlay-background;

    div.panel {
      margin: @layout-margin / 2 2px;
      padding: @layout-margin / 2 2px;
      background-color: white;
      color: black;
      border-radius: @panel-corner-radius;
      overflow: visible;
      position: relative;

      > h2,
      > a > h2 {
        margin: 0;
        padding: 3px 5px;
        color: #000;
      }

      .panelToggleButton {
        position: absolute;
        top: 0;
        right: 0;
        // padding-top: 0px;
        // padding-right: 10px;
        // padding-left: 30px;
        // padding-bottom: 0px;
        font-size: 1.5em;
        padding: 3px 15px 3px 80px;
      }

      .scroll {
        overflow: auto;
      }

      button,
      .button {
        margin: @layout-margin;
      }

      fieldset {
        padding: @layout-margin / 2 @layout-margin;
        margin: @layout-margin / 2;
        line-height: 1.25;
        border: 1px solid @ab-gray1;

        legend {
          font-weight: bolder;
        }
      }

      table {
        width: 100%;
        margin: 4px 0;

        thead {
          text-align: center;
        }

        tbody tr {
          border-top: 1px solid white;
          box-sizing: border-box;
          background-color: #bedbf4;
        }
        tbody tr.row-selected {
          .bgcolor(@selected-color);
        }
        tbody tr.row-controlled {
          .bgcolor(@controlled-color);
        }

        td {
          padding: 2px 0;
          margin: 0;
          text-align: center;
          vertical-align: middle;
          white-space: nowrap;
          &.name {
            font-weight: bolder;
            font-size: 1.8em;
            text-align: left;
            width: 99%;
          }
          > input {
            max-width: 8em;
          }
          > * {
            margin-left: 2px;
            margin-right: 2px;
          }
        }
      } // End sidebar table
    } // End sidebar panel

    overflow: visible;

    .panelsContainerVertical {
      position: absolute;
      overflow: visible;
      overflow-y: auto;
      width: 100%;
      height: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
    }

    .overlay {
      position: absolute;
      top: 0;
      right: -20em;
      width: 20em;
      z-index: 40;
    }

    > div.ui-resizable-handle {
      background: inherit;
      color: white;
      position: absolute;
      height: 80px;
      margin-top: -40px;
      width: 35px;
      border-radius: 0 @control-corner-radius @control-corner-radius 0;
      top: 50vh;
      z-index: 80;
      font-size: 30px;
      text-align: center;
      vertical-align: middle;
      svg {
        height: 30px;
        margin: 25px 0;
      }
    }

    > div.ui-resizable-e {
      right: -35px;
    }
  }
  .column-left {
    width: @left-sidebar-initial-width;
    left: 0;
  }
  .column-right {
    width: 0;
    right: 50pt;
  }
  .drawer-wrapper {
    z-index: 10;
    background-color: @overlay-background;
    color: white;

    .toggle-drawer-btn {
      border-radius: 0;
      margin: 0;
      background-color: white;
    }

    .left-btn {
      height: 100%;
      width: @drawer-button-size !important;
      float: left;
      margin-left: 0;
      border-radius: @control-corner-radius 0 0 @control-corner-radius;
    }

    .right-btn {
      height: 100%;
      width: @drawer-button-size !important;
      float: right;
      margin-right: 0;
      border-radius: 0 @control-corner-radius @control-corner-radius 0;
    }

    .top-btn {
      width: 100% !important;
      height: @drawer-button-size !important;
      top: 0;
      border-radius: @control-corner-radius @control-corner-radius 0 0;
      // position: absolute;
    }

    .bottom-btn {
      width: 100% !important;
      height: @drawer-button-size !important;
      bottom: 0;
      position: absolute;
      border-radius: 0 0 @control-corner-radius @control-corner-radius;
    }

    &.drawer-right {
      position: absolute;
      right: 0;
      border-radius: @control-corner-radius 0 0 @control-corner-radius;
    }

    &.drawer-left {
      position: absolute;
      left: 0;
      border-radius: 0 @control-corner-radius @control-corner-radius 0;
    }

    &.drawer-bottom {
      position: absolute;
      bottom: 0;
      border-radius: @control-corner-radius @control-corner-radius 0 0;
    }

    &.drawer-top {
      position: absolute;
      top: 0;
      height: 400px;
      border-radius: 0 0 @control-corner-radius @control-corner-radius;
      border: 1px solid white;
      border-width: 0 1px 0 1px;
    }

    .drawer-content-right {
      position: absolute;
      right: 0;
    }

    .drawer-content-left {
      position: absolute;
      left: 0;
    }

    .drawer-content-bottom {
      bottom: 0;
      position: absolute;
    }

    .drawer-content-top {
      top: 0;
      position: absolute;
    }
  }

  #logContainer {
    max-height: 30vh;

    > div {
      margin: @layout-margin;
    }
  }

  .battery-state-0 {
    background: lightgreen;
    color: black;
  }
  .battery-state-1 {
    background: lightgreen;
    color: black;
  }
  .battery-state-2 {
    background: lightgreen;
    color: black;
  }
  .battery-state-3 {
    background: yellowgreen;
    color: black;
  }
  .battery-state-4 {
    background: yellow;
    color: black;
  }
  .battery-state-5 {
    background: yellow;
    color: black;
  }
  .battery-state-6 {
    background: yellow;
    color: black;
  }
  .battery-state-7 {
    background: orange;
    color: black;
  }
  .battery-state-8 {
    background: orange;
    color: black;
  }
  .battery-state-9 {
    background: @error-color;
    color: white;
  }
  .battery-state-10 {
    background: @error-color;
    color: white;
  }
  .battery-state-11 {
    background: black;
    color: white;
  }

  .fault-state-0,
  .fault-level-0 {
    .bgcolor(@good-color);
  }
  .fault-state-1,
  .fault-state-2,
  .fault-state-3,
  .fault-level-1 {
    .bgcolor(@warning-color);
  }

  .fault-state-4,
  .fault-state-5,
  .fault-state-6,
  .fault-level-2 {
    .bgcolor(@error-color);
  }
  .fault-state-7 {
    background: none;
  }
}

.opacity(@opacity) {
  @opacityPercent: (@opacity * 100);
  opacity: @opacity;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacityPercent})";
  filter: ~"alpha(opacity=@{opacityPercent})";
}
#toast-container > div {
  bottom: 100px;
  .opacity(1);
}

.ui-tooltip {
  padding: @layout-margin;
  border-radius: @panel-corner-radius;
}

.MissionSettingsPanel {
  background-color: #000000c0;
  color: #eeeeeeee;
  position: absolute;
  right: 46pt;
  top: 0pt;
  padding: 8pt;
  border-radius: 8pt;
}

.GoalSettingsPanel {
  background-color: #000000c0;
  color: #eeeeeeee;
  position: absolute;
  right: 46pt;
  top: 0pt;
  padding: 8pt;
  border-radius: 8pt;
}

#GoalType {
  color: #111111ff;
  margin: 8pt;
  border-radius: 4pt;
}

.NumberInput {
  color: #111111ff;
  text-align: right;
  border-radius: 4pt;
  padding: 2pt;
  max-width: 75pt;
}

table.DiveParametersTable > tbody > tr > td {
  padding: 4pt;
}

.HorizontalFlexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.healthOK {
  color: lightgreen;
}

.healthDegraded {
  color: yellow;
}

.healthFailed {
  color: red;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.rounded {
  border-radius: 5pt;
}

.shadowed {
  box-shadow: 2px 2px 10px #222222ff;
}

div.hoverable:hover {
  background-color: lightblue;
  color: black;
}

.LoadMissionPanel {
  padding: 5pt;
  background-color: lightgray;
}

.LoadMissionPanel .title {
  padding: 5pt;

  font-size: medium;

  color: black;
}

.LoadMissionPanel .missionList {
  width: 300pt;
  height: 200pt;
  overflow: auto;

  background-color: whitesmoke;
}

.LoadMissionPanel .row {
  padding: 5pt;

  font-size: small;

  background-color: whitesmoke;
  color: black;
}

.LoadMissionPanel .selected, .LoadMissionPanel .selected:hover {
  background-color: rgb(73, 122, 255);
  color: #eeeeeeff;
}

.textInput {
  padding: 4pt;
  margin-top: 4pt;
  margin-bottom: 4pt;

  border-width: 0pt;

  background-color: whitesmoke;
}

.flexSpacer {
  flex-grow: 1;
}

.disconnection {
  display: flex;
  align-items: center;

  top: 10pt;
  right: 70pt;
  width: 240pt;

  position: absolute;

  padding: 4pt;

  background-color: red;
  color: whitesmoke;
}

.icon {
  width: 60pt;
  height: 60pt;
}

#botDetailsComponent .botCommand {
  padding: 4pt;
  margin: 4pt
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

#axui_container button.danger {
  background-color: red;
}

.horizontal.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vertical.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#botDetailsTable {
  width: 400pt;
  table-layout: fixed;
}

// For things like the bot icons
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jaia-logo {
  width: 40pt;
  height: 40pt;
  margin: 4pt 4pt 20pt 4pt;
  border-radius: 4pt;
  border: 1pt solid gray;
}

div.closeButton {
  .unselectable;
  font-size: larger;
  cursor: pointer;
}
