div.fullscreen {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    left: 0pt;
    right: 0pt;
    top: 0pt;
    bottom: 0pt;
    z-index: 20000;
}

div.custom-alert {
    background-color: lightgray;
    padding: 10pt;
    border: 1pt solid black;
    border-radius: 10pt;
    min-width: 400pt;
    max-width: 25%;
    box-shadow: 2pt 2pt 10pt darkgray;
}

div.title {
    font-weight: bold;
    font-size: larger;
    padding: 10pt;
    text-align: center;
}

div.text {
    padding: 10pt;
    text-align: center;
}

div.button-container {
    display: flex;
    justify-content: center;
    padding: 10pt;
}

div.button {
    background-color: white;
    border-radius: 10pt;
    padding: 20pt;
    margin: 0pt 20pt 0pt 20pt;
    user-select: none;
}

div.button:hover {
    background-color: darkgray;
}

div.button:active {
    background-color: #707070;
}