#!/usr/bin/env -S goby_launch -L -P

[kill=SIGTERM] gpsd $(../../gen/bot.py gpsd)

# start the Goby processes
gobyd <(../../gen/bot.py gobyd) -vvv -n
[env=GOBY_MOOS_GATEWAY_PLUGINS=libgoby_ivp_frontseat_moos_gateway_plugin.so:libjaiabot_moos_gateway_plugin.so] goby_moos_gateway <(../../gen/bot.py goby_moos_gateway)
goby_liaison_jaiabot <(../../gen/bot.py goby_liaison)
jaiabot_simulator <(../../gen/bot.py jaiabot_simulator)
jaiabot_fusion <(../../gen/bot.py jaiabot_fusion)
jaiabot_mission_manager <(../../gen/bot.py jaiabot_mission_manager) -vvv -n
goby_gps <(../../gen/bot.py goby_gps)
goby_logger <(../../gen/bot.py goby_logger)

# vehicle MOOS components
[kill=SIGTERM] ../../gen/moos_gen.sh
[kill=SIGTERM] MOOSDB /tmp/jaiabot_${jaia_bot_index}.moos
[kill=SIGTERM] pHelmIvP /tmp/jaiabot_${jaia_bot_index}.moos
#[kill=SIGTERM] pMarineViewer /tmp/jaiabot_pmv_${jaia_bot_index}.moos
[kill=SIGTERM] uProcessWatch /tmp/jaiabot_${jaia_bot_index}.moos
[kill=SIGTERM] pNodeReporter /tmp/jaiabot_${jaia_bot_index}.moos

# simulator MOOS components
[kill=SIGTERM] MOOSDB /tmp/jaiabot_sim_${jaia_bot_index}.moos
[kill=SIGTERM] uSimMarine /tmp/jaiabot_sim_${jaia_bot_index}.moos
[kill=SIGTERM] pMarinePID /tmp/jaiabot_sim_${jaia_bot_index}.moos
