#!/usr/bin/env -S goby_launch -P

gobyd <(../../gen/hub.py gobyd) -vvv -n
goby_liaison_jaiabot <(../../gen/hub.py goby_liaison)
goby_opencpn_interface <(../../gen/hub.py goby_opencpn_interface)
goby_geov_interface <(../../gen/hub.py goby_geov_interface)
jaiabot_hub_manager <(../../gen/hub.py jaiabot_hub_manager)
jaiabot_web_portal <(../../gen/hub.py jaiabot_web_portal)

# socat connects the TCP server run by goby_opencpn_interface on the hub to a Virtual serial port (pty) that OpenCPN can use
# run this on the same computer as OpenCPN (or use a Windows equivalent)
socat tcp:localhost:30100 pty,link=/tmp/pty_jaiahub,raw,echo=0
