offset: 9.5
coefficient: 1010.0
serial_number: 87654322
analyte: CDOM
units: ppb

# Analyte Options: CDOM, Chlorophyll_Blue, Chlorophyll_Red, Fluorescein, Crude_Oil, Optical_Brighteners, Hycocyanin, Phycoerythrin, Rhodamine_WT, Tryptophan, Turbidity
# Unit Options: ppb, ug_per_L, NTU, ppb_PTSA, ppb_Uvitex, ppbPC, ppbPE, ppb_QSU