offset: 10.0
coefficient: 942.0
serial_number: 87654321
analyte: Chlorophyll_Blue
units: ug_per_L

# Analyte Options: CDOM, Chlorophyll_Blue, Chlorophyll_Red, Fluorescein, Crude_Oil, Optical_Brighteners, Phycocyanin, Phycoerythrin, Rhodamine_WT, Tryptophan, Turbidity
# Unit Options: ppb, ug_per_L, NTU, ppb_PTSA, ppb_Uvitex, ppbPC, ppbPE, ppb_QSU