Adafruit-Blinka==9.1.0
adafruit-circuitpython-busdevice==5.2.17
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-register==1.11.3
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.88.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
cmocean==4.0.3
dataclasses-json
digi-xbee==1.5.0
Flask-Compress==1.24
geopandas
h5py-stubs==0.1.2
networkx
pytest
pyturf==0.6.14
rasterio
simplejson
./pyjaia
./pyjaiaprotobuf
./Adafruit_CircuitPython_BNO08x
./jaia_serial
