Adafruit-Blinka==8.49.0
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-register==1.10.1
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-typing==1.11.1
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
cmocean==4.0.3
digi-xbee==1.5.0
turfpy==0.0.7
pytest==9.0.2
h5py-stubs
flask-compress==1.23
numpy==1.26.4
scikit-learn==1.8.0
./pyjaia
./pyjaiaprotobuf
./Adafruit_CircuitPython_BNO08x
./jaia_serial
