button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 12px;
    border-radius: 12px;
    border-width: 0px;

    background-color: lightskyblue;
    font-size: large;
}

button:hover {
    background-color: lightgray;
}

button:active {
    background-color: darkgray;
}

.cal-section {
    display: grid;
    /* Smallest compatable viewport: iPad Mini in its vertical position */
    grid-template-columns: 350px 350px;
    justify-content: center;
    row-gap: 30px;
    margin: 50px 0 100px 0;
}

.cal-section h2,
.cal-section h3 {
    margin: 0;
}

.cal-section h2 {
    grid-column: 1 / 3;
    justify-self: center;
}

.cal-section h3 {
    margin-bottom: 10px;
}

.cal-left-col {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 30px 0 0;
    border-right: 1px solid #000;
}

.motor-rudder-cal-btns {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    font-size: large;
    width: 120px;
}

td {
    font-size: large;
}
