@import "../../style/stylesheets/vars.less";
#simulation-banner {
    position: absolute;
    bottom: 93px;
    right: 93px;
    height: 40px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: @waypoint-color;
    color: @cc-text-color;

    font-size: 1rem;
}
