#!/usr/bin/env -S goby_launch -L -P

# Shared
socat pty,link=/tmp/ttyxbee0,raw,echo=0 pty,link=/tmp/ttyxbee1,raw,echo=0

# Hub
gobyd <(../../gen/topside.py gobyd)
goby_gps <(../../gen/topside.py goby_gps)
goby_logger <(../../gen/topside.py goby_logger)
jaiabot_dev_hub -vvvv --mode BOX --serial 'port: "/tmp/ttyxbee0" baud: 9600' --interprocess 'platform: "topside"'
goby_liaison_jaiabot <(../../gen/topside.py goby_liaison)

# Bot
gobyd <(../../gen/auv.py gobyd)
goby_gps <(../../gen/auv.py goby_gps)
goby_logger <(../../gen/auv.py goby_logger)
jaiabot_dev_bot -vvvv --mode BOT --serial 'port: "/tmp/ttyxbee1" baud: 9600' --interprocess 'platform: "auv0"'
jaiabot_control_surfaces_driver -vvvv --serial 'port: "/dev/ttyACM0" baud: 9600' --interprocess 'platform: "auv0"'
goby_liaison_jaiabot <(../../gen/auv.py goby_liaison)
