[Unit]
Description=Script to pipe GPS data from I2C to a fifo
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=never
User=root
ExecStart=$dir/gps_i2c_pipe.py /dev/jaiabot/gps_i2c

[Install]
WantedBy=multi-user.target
