.survey {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 15px;
    justify-content: center;
    justify-items: center;
    width: 300px;
    color: #fff;
}

.progress-line {
    width: 90%;
    height: 2px;
    background-color: gold;
}

.survey-text-row {
    padding: 3px 0 15px 0;
    font-style: italic;
}

.survey .input-grid {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.survey .input-grid input {
    all: unset;
    width: 60px;
    padding: 6px;
    border: 1px solid #fff;
    border-radius: 3px;
}

.survey .input-grid input[type="number"] {
    padding-right: 21px;
}

.survey .input-grid .input-group {
    display: flex;
    gap: 5px;
    align-items: center;
}

.survey .button-row {
    width: 100%;
    display: flex;
    justify-content: right;
    margin: 6px 0 12px 0;
}

.survey .button-row.double {
    justify-content: space-around;
}

.survey .button-row.double-arrow {
    justify-content: space-between;
}

.survey .button-row .arrow {
    width: 30px;
}

.survey .button-row .text {
    all: unset;
    width: 75px;
    height: 30px;
    border: 1px solid gold;
    border-radius: 3px;
    text-align: center;
}

.survey .task-selection-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 6px;
}

.survey .task-parameters-container {
    width: 100%;
    margin: 6px 0;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 12px;
}

.survey .task-parameters-container div:first-child {
    justify-self: center;
}
