.survey {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 300px;
}

.progress-line {
    width: 90%;
    height: 2px;
    background-color: gold;
}

.survey-location-page {
    padding: 3px 0 15px 0;
    color: #fff;
}
