@import "util.less";

/******** CSS Jaia Command & Control ********************/

.bgcolor(@col) {
  background-color: @col;
  color: if(luminance(@col) > 45, black, white);
}

body {
  overflow: hidden;
  background: @overlay-background;
  font-size: 16pt;
  margin: 0;
  font-family: @global-font-family !important;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  vertical-align: middle;
}
input,
button,
select,
optgroup,
textarea,
td {
  margin: 0;
  padding: 0;
  border-width: 1px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

#jcc_container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100 vw;
  height: 100 vh;
  overflow: hidden;

  // Needed to override default mui font settings
  p,
  button,
  div,
  label {
    font-family: inherit;
    line-height: 1;
  }

  .button-jcc {
    display: inline-block;
    width: auto;
    height: @command-button-size;
    min-width: @command-button-size;
    min-height: @command-button-size;
    border-radius: @control-corner-radius;
    border: 0px solid black;
    box-shadow: #333 1px 1px 5px;
    .bgcolor(@cc-background-color);
    padding: @command-button-padding;
    text-align: center;
    text-decoration: none;
    margin: @command-button-margin;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;

    &.inactive {
      background: @inactive-color;
      // Going for low contrast here
      color: if(luminance(@inactive-color) < 45, black, white);
    }

    &.selected,
    &.active {
      .bgcolor(@selected-color);
    }

    &.buttonCheckbox,
    &.not-a-button {
      background: none;
      border: none;
      box-shadow: none;
      color: inherit;
      &::selection {
        border: none;
      }
    }

    &.active-track {
      .bgcolor(@tracked-color);
    }

    &.rc-active {
      .bgcolor(@rc-active-color);
    }

    img {
      display: block;
      width: @command-button-size - (2 * @command-button-padding);
      height: auto;
      font-size: @command-button-size - (2 * @command-button-padding);
    }
    
    svg {
      display: block;
      width: @command-button-size - (2 * @command-button-padding);
      font-size: @command-button-size - (2 * @command-button-padding);
    }
  }

  h2 {
    font-size: 1.3em;
    margin: 0;
    font-weight: 500;
  }

  input:invalid {
    border: solid @error-color 3px;
  }

  /******** CSS Bot Information ********************/

  #botsDrawer {
    position: absolute;
    left: 0;
    top: 0;
    width: 50pt;
    height: auto;
    max-height: 95vh;
    background: @overlay-background;
    display: flex;
    flex-flow: column nowrap;

    #botsList {
      color: @cc-text-color;
      text-align: center;
      font-size: 12pt;

      flex-shrink: 1;

      overflow-y: auto;

      .bot-item {
        .unselectable;
        cursor: pointer;
        display: inline-block;
        border: 1px solid white;
        .bgcolor(@good-color);
        border-radius: @panel-corner-radius;
        font-size: 20pt;
        height: 50px;
        line-height: 38pt;
        width: 50px;
        margin: @layout-margin-px - 3;
        padding: 0;
        text-align: center;
        vertical-align: middle;
      }

      .hub-item {
        .unselectable;
        cursor: pointer;
        display: inline-block;
        border: 1px solid white;
        .bgcolor(@good-color);
        border-radius: 20pt;
        font-size: 17pt;
        height: 50px;
        line-height: 38pt;
        width: 50px;
        margin: @layout-margin-px / 2;
        padding: 0;
        text-align: center;
        vertical-align: middle;
      }
      
      // The order of these matters
      > div.bot-item.tracked {
        .bgcolor(@tracked-color);
      }
      > div.bot-item.faultLevel1 {
        .bgcolor(@warning-color);
      }
      > div.bot-item.faultLevel2 {
        .bgcolor(@error-color);
      }
      > div.bot-item.disconnected {
        .bgcolor(@disconnected)
      }
      > div.bot-item.selected {
        outline: 5px solid @selected-color;
      }
      > div.bot-item.controlled {
        .bgcolor(@controlled-color);
      }

      > div.hub-item.selected {
        outline: 5px solid @selected-color;
      }
    }
  }

  #botDetailsBox,
  #hubDetailsBox {
    position: absolute;
    background-color: @overlay-background;
    top: 0pt;
    left: 50pt;
    color: @cc-details-text-color;
    padding: 8pt;
    max-height: 95vh;
    max-width: 25vw;

    display: flex;
    flex-direction: column;
    
    h2.name {
      color: @cc-details-text-color;
      margin: 0;
    }

    h3.name {
      color: @cc-details-text-color;
      margin-bottom: 16px;
    }

    table {
      margin: 8px 0;
    }

    td {
      padding: 5px 0.5em;
      font-size: 16px;
      min-width: 8vw;
    }

    select {
      color: black;
    }

    .botDetailsToolbar {
      width: 100%;
      height: auto;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 16px;
      padding: 2px 16px;
      background-color: @cc-accordian-color;
      row-gap: 2px;
    }

    .button-jcc {
      margin: 8px 16px 8px 0;
    }

  }

  #botDetailsBox:empty {
    display:none;
  }

  
  /******** CSS Choosing Map Layers ********************/
  #mapLayers {
    // This is to eliminate an annoying stray vanilla checkbox that gets rendered for some reason
    input[type="checkbox"] {
      display: none;
    }

    button {
      width: 24px;
      height: 24px;
      margin-right: 12px;
      border-radius: 4px;
    }

    > ul {
      list-style: none;
      width: 301.25px; // Width of largest accordion tab
    }

    li.group:last-child {
      margin-bottom: 0;
    }

    li.group > ul {
      padding: 12px 12px 12px 24px;
    }

    li.layer {
      input[type="checkbox"],
      input[type="radio"] {
        display: none;
      }

      input[type="checkbox"] + label,
      input[type="radio"] + label {
        display: block;
        position: relative;
        margin: @layout-margin 0 0 0;
        padding: @layout-margin;
        .bgcolor(@cc-background-color);
        border-radius: @control-corner-radius;
        padding-left: 1.8em;
        line-height: 1.1em;
        box-shadow: #333 1px 1px 5px;
        border-radius: 8px;
      }

      input[type="checkbox"] + label:before,
      input[type="radio"] + label:before {
        content: " ";
        position: absolute;
        top: @layout-margin;
        left: @layout-margin;
        height: 1em;
        width: 1em;
        .bgcolor(lightgray);
        box-shadow: inset #333 1px 1px 5px;
        padding: 0;
        margin: 0;
        text-align: center;
      }

      input[type="checkbox"] + label:before {
        border-radius: 3px;
      }
      input[type="radio"] + label:before {
        border-radius: 50%;
        padding: 0px 0 0 1px;
      }

      input[type="checkbox"]:checked + label:after,
      input[type="radio"]:checked + label:after {
        display: block;
        position: absolute;
        top: @layout-margin;
        left: @layout-margin;
        content: " ";
        border: solid black;
        border-width: 0 3px 3px 0;
        padding: 0.3em 0.1em;
        margin-top: 0.08em;
        margin-left: 0.37em;
        width: 0.1em;
        height: 0.4em;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }

    label.disabled {
      opacity: 0.4;
    }

    .touch ::-webkit-scrollbar {
      width: 4px;
    }

    .touch ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }

    .touch ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    .group.layer-switcher-fold > label:before {
      content: "";
      border: solid white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      margin-right: 8px;
      margin-bottom: 4px;
    }

    .group.layer-switcher-fold.layer-switcher-close > label:before {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      margin-right: 12px;
    }

    .group.layer-switcher-fold.layer-switcher-open > label:before {
      transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
      margin-right: 12px;
    }

    .group.layer-switcher-fold.layer-switcher-close > ul {
      overflow: hidden;
      height: 0;
      padding: 0;
    }

    .layer-switcher-fold {
      padding: 16px;
      background-color: @cc-accordian-color;
    }

    .layer-switcher-fold label {
      font-size: 1.08rem;
      color: #FFFFFF;
    }

    .layer-switcher-fold > button {
      display: none;
    }

    .group.layer-switcher-fold.layer-switcher-open {
      margin: 12px 0;
    }

    .group.layer-switcher-fold.layer-switcher-open:first-child {
      margin-top: 0;
      margin-bottom: 12px;
    }

    .group.layer-switcher-fold.layer-switcher-open:last-child {
      margin-bottom: 0;
    }
  }

  /******** CSS Tool Bars ********************/
  #commandsDrawer {
    height: ((@command-button-size + (@command-button-margin * 2)) * 1);
    position: absolute;
    right: 0;
    top: 0;
    background: @overlay-background;
    display: flex;
    flex-flow: row nowrap;
  }
  
  #viewControls {
    width: ((@command-button-size + (@command-button-margin * 2)) * 1);
    position: absolute;
    top: 66px;
    right: 0;
    background: @overlay-background;
    display: flex;
    flex-flow: column wrap;
  }

  #measureResult {
    height: auto;
    width: @command-button-size;
    font-size: 14px;
    background: @cc-background-color;
    color: @cc-text-color;
    border: 2px dashed @cc-text-color;
    padding: @command-button-padding;
    margin: @command-button-margin;
  }

  /******** CSS Map ********************/

  .map-control {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    right: @command-button-size + (2 * @command-button-padding);
    bottom: @status-bar-height;
    left: 0px;
    z-index: @map;

    .ol-control {
      position: absolute;
      // border-radius: @panel-corner-radius;
      // padding: 0px;
    }
    .ol-control:hover {
      // background-color: rgba(255, 255, 255, 0.6);
    }
    @media print {
      .ol-control {
        display: none;
      }
    }
    .ol-control button {
      display: block;
      width: @map-button-size;
      height: @map-button-size;
      text-align: center;
      margin: 0;
    }
    .ol-control button::-moz-focus-inner {
      border: none;
      padding: 0;
    }
    .ol-touch .ol-control button {
      // font-size: 1.5em;
    }
    .ol-control button:hover,
    .ol-control button:focus {
      text-decoration: none;
      // background-color: rgba(0, 60, 136, 0.7);
    }

    .ol-zoom,
    .ol-mouse-position,
    .ol-rotate {
      right: @layout-margin;
    }

    .ol-overlaycontainer-stopevent {
      overflow: visible;
    }

    .ol-zoom {
      position: absolute;
      bottom: 16px;
      right: -(@command-button-size + (@command-button-padding));
    }

    .ol-mouse-position {
      bottom: 49px;
      right: 27px;
      height: (2 * 18px) + (2 * 2px);
      position: absolute;
      width: 100px;
      padding: 2px;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      .bgcolor(@overlay-background);

    }

    .ol-scale-line {
      bottom: 16px;
      right: 27px;
      position: absolute;
      padding: 2px;
      font-size: 14px;
      text-align: center;
      .bgcolor(@overlay-background);
    }

    .ol-scale-line-inner {
      border: 1px solid white;
      border-top: none;
      padding: 4px;
      font-size: 14px;
      text-align: center;
      margin: 1px;
      will-change: contents, width;
    }

    .ol-rotate {
      bottom: 115px;
      right: -(@command-button-size + (@command-button-padding));
      // transition: opacity 0.25s linear, visibility 0s linear;
      button {
        .ol-compass {
          display: block;
          font-weight: normal;
          width: @map-button-size;
          height: @map-button-size;
          font-size: @map-button-size;
          line-height: @map-button-size;
          text-align: center;
          margin: 0px;
          will-change: transform;
        }
      }
    }
    .ol-rotate.ol-hidden {
      button {
        color: @overlay-background;
        height: @map-button-size;
        width: @map-button-size;
        min-width: @map-button-size;
        min-height: @map-button-size;
      }
    }

    .ol-overlay-container {
      will-change: left, right, top, bottom;
    }
    .ol-unsupported {
      display: none;
    }
    .ol-viewport,
    .ol-unselectable {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .ol-viewport {
      overflow: visible !important;
    }
    .map-control {
      overflow: visible;
    }
    .ol-selectable {
      -webkit-touch-callout: default;
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
    .ol-grabbing {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: grabbing;
    }
    .ol-grab {
      cursor: move;
      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: grab;
    }
    .ol-box {
      box-sizing: border-box;
      border-radius: @panel-corner-radius;
      border: 2px solid @cc-background-color;
    }
    .ol-zoom-extent {
      top: 4.643em;
      left: 0.5em;
    }
    .ol-touch .ol-zoom-extent {
      top: 5.5em;
    }
    .ol-full-screen {
      right: 0.5em;
      top: 0.5em;
    }
    .ol-zoom-extent button {
      line-height: 1.4em;
    }

    .ol-attribution {
      display: block;
      position: absolute;
      left: 10pt;
      bottom: 20pt;
      max-width: 600pt;
      padding: 5pt;
      background-color: #ffffffa0;
      button {
        display: none;
      }
    }
    .ol-attribution ul {
      font-size: 0.7rem;
      color: @cc-text-color;
    }

    .ol-zoomslider {
      height: 200px;
    }
    .ol-zoomslider button {
      position: relative;
      height: 10px;
    }

    .ol-overviewmap {
      left: 0.5em;
      bottom: 0.5em;
    }
    .ol-overviewmap.ol-uncollapsible {
      bottom: 0;
      left: 0;
      border-radius: 0 @panel-corner-radius 0 0;
    }
    .ol-overviewmap .ol-overviewmap-map,
    .ol-overviewmap button {
      display: inline-block;
    }
    .ol-overviewmap .ol-overviewmap-map {
      border: 1px solid #7b98bc;
      height: 150px;
      margin: 2px;
      width: 150px;
    }
    .ol-overviewmap:not(.ol-collapsed) button {
      bottom: 1px;
      left: 2px;
      position: absolute;
    }
    .ol-overviewmap.ol-collapsed .ol-overviewmap-map,
    .ol-overviewmap.ol-uncollapsible button {
      display: none;
    }
    .ol-overviewmap:not(.ol-collapsed) {
      background: rgba(255, 255, 255, 0.8);
    }
    .ol-overviewmap-box {
      border: 2px dotted rgba(0, 60, 136, 0.7);
    }
    .ol-overviewmap .ol-overviewmap-box:hover {
      cursor: move;
    }
  }

  /******** CSS Engineering Panels ********************/

  #engineeringPanel {
    position: absolute;
    top: @command-button-size + (2 * @command-button-padding);
    right: @command-button-size + (2 * @command-button-padding);
    
    max-height: calc(95vh - @top-toolbar-height);
    overflow-y: auto;
    
    background-color: @overlay-background;
    border: 2px solid @cc-accordian-color;

    z-index: 1;

    .panel {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin: 8pt;
      padding: 8pt;

      background-color: @cc-background-color;
    }

    #engineering_requirements_table {
      td {
        text-align: right;
        font-size: 16px;
      }
    }

    #engineering_safety_table {
      td {
        text-align: left;
        font-size: 16px;
      }
    }

    table {
      width: 100%;
      margin: 4px 0;

      thead {
        text-align: center;
      }

      tbody tr {
        border-top: 1px solid @cc-text-color;
        box-sizing: border-box;
        background-color: @cc-background-color;
      }
      tbody tr.row-selected {
        .bgcolor(@selected-color);
      }
      tbody tr.row-controlled {
        .bgcolor(@controlled-color);
      }

      td {
        padding: 2px 0;
        margin: 0;
        text-align: center;
        font-weight: normal;
        vertical-align: middle;
        white-space: nowrap;
        &.name {
          font-weight: bolder;
          font-size: 1.8em;
          text-align: left;
          width: 99%;
        }
        > input {
          max-width: 8em;
          text-align: right;
        }
        > * {
          margin-left: 2px;
          margin-right: 2px;
        }
      }
    } // End sidebar table
  } // End sidebar panel
  
  .panelsContainerVertical {
    position: absolute;
    overflow: visible;
    overflow-y: auto;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
  }

  .mission-speeds-label {
    text-align: right;
  }

  .engineering-panel-btn {
    width: 90%;
  }

  /******** Remote Control Panel *****************************/

  #remoteControlPanelContainer {
    position: absolute;
    bottom: 0;
    width: calc(100% - ((@command-button-size + (@command-button-margin * 2)) * 1));
    background-color: @overlay-background;
    z-index: 10;
  }

  .rc-heading {
    background-color: white;
    text-align: center;
    padding: 4px;
    font-size: 1.25rem;
    font-weight: 700;
  }

  .stick-container {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem;
  }

  .rc-labels-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: white;
    font-size: 1.25rem;
  }

  .rc-dive-labels-container {
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 12px;
    color: white;
    font-size: 1.25rem;
  }

  .rc-labels-left {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .rc-info-container,
  .rc-dive-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px;
  }

  .rc-dive-info-container {
    grid-template-columns: max-content min-content min-content;
    gap: 6px;
    align-items: center;
  }

  .button-rc-dive.button-jcc {
    margin: 0;
    align-self: center;
  }

  .rc-data {
    justify-self: center;
    font-weight: 700;
  }

  .rc-input {
    all: unset;
    width: 90px;
    padding: 4px 8px 4px 4px;
    background: none;
    border: 2px solid white;
    border-radius: 4px;
    text-align: right;
  }

  .rc-input:focus {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }

  .rc-dropdown {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 12px;
    padding: 0 0 0 8px;

    .MuiInputBase-root {
      margin: 0;
    }

    .MuiSelect-select {
      display: flex;
      align-items: center;
      padding: 10px;
    }

    .MuiSvgIcon-root {
      color: white
    }

    .MuiInputBase-root {
      margin: 0;
    }
  }

  .controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
  }

  .hide-controller {
    visibility: hidden;
  }

  .controller-title {
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
  }

  /******** CSS System Health Information ********************/

  .healthOK {
    color: (@good-color);
  }

  .healthDegraded {
    color: (@warning-color);
  }

  .healthFailed {
    color: @error-color;
  }

  .battery-state-0 {
    background: lightgreen;
    color: @cc-text-color;
  }
  .battery-state-1 {
    background: lightgreen;
    color: black;
  }
  .battery-state-2 {
    background: lightgreen;
    color: black;
  }
  .battery-state-3 {
    background: yellowgreen;
    color: black;
  }
  .battery-state-4 {
    background: yellow;
    color: black;
  }
  .battery-state-5 {
    background: yellow;
    color: black;
  }
  .battery-state-6 {
    background: yellow;
    color: black;
  }
  .battery-state-7 {
    background: orange;
    color: black;
  }
  .battery-state-8 {
    background: orange;
    color: black;
  }
  .battery-state-9 {
    background: @error-color;
    color: white;
  }
  .battery-state-10 {
    background: @error-color;
    color: white;
  }
  .battery-state-11 {
    background: black;
    color: white;
  }

  .fault-state-0,
  .fault-level-0 {
    .bgcolor(@good-color);
  }
  .fault-state-1,
  .fault-state-2,
  .fault-state-3,
  .fault-level-1 {
    .bgcolor(@warning-color);
  }

  .fault-state-4,
  .fault-state-5,
  .fault-state-6,
  .fault-level-2 {
    .bgcolor(@error-color);
  }
  .fault-state-7 {
    background: none;
  }

  button.select-on-map {
    all: unset;
    background-color: lightgreen;
    margin-top: 12px;
    padding: 9px 12px;
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  button.select-on-map.clicking-map {
    background-color: yellow;
  }

  button.select-on-map:disabled {
    opacity: 0.5;
  }

  button.select-on-map:hover {
    cursor: pointer;
  }
}

.opacity(@opacity) {
  @opacityPercent: (@opacity * 100);
  opacity: @opacity;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacityPercent})";
  filter: ~"alpha(opacity=@{opacityPercent})";
}

/******** CSS GOAL/MISSION Settings ********************/

.MissionSettingsPanel {}

.NumberInput {
  color: @cc-text-color;
  text-align: right;
  border-radius: 4pt;
  padding: 2pt;
  max-width: 75pt;
}

.RadioInput {
  color: #111111ff;
  text-align: right;
  border-radius: 4pt;
  padding: 2pt;
  max-width: 75pt;
}

table.MissionParametersTable > tbody > tr > td {
  padding: 2pt;
}

.TaskParametersTable tbody {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.TaskParametersTable .task-param-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.TaskParametersTable > tbody > .task-param-container:first-child {
  margin-top: 12px;
}

.TaskParametersTable .input-row {
  display: flex;
  align-items: center;
  gap: 3px;
  text-align: right;
}

.TaskParametersTable .input-row.dive-time,
.TaskParametersTable .input-row.drift-time {
  gap: 9px;
}

.input-row.constant-heading-time {
  gap: 24px;
}

.input-row.constant-heading-speed {
  gap: 5px;
}

.input-row.constant-heading-distance {
  gap: 28px;
}

.TaskParametersTable .NumberInput {
  all: unset;
  width: 75px;
  border: 1px solid #D1D5DB;
  border-radius: 3px;
  padding: 6px;
}


/******** CSS SAVING/LOADING MISSIONS ********************/

.HorizontalFlexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.rounded {
  border-radius: 5pt;
}

.shadowed {
  box-shadow: 2px 2px 10px #222222ff;
}

div.hoverable:hover {
  background-color: @cc-text-color;
  color: @cc-background-color;
}

.LoadMissionPanel {
  padding: 5pt;
  background-color: @cc-background-color;
  z-index: 10;
}

.LoadMissionPanel .title {
  padding: 5pt;

  font-size: 1.25rem;

  color: @cc-text-color;
}

.LoadMissionPanel .missionList {
  width: 300pt;
  height: 200pt;
  overflow: auto;

  background-color: @cc-background-color;
}

.LoadMissionPanel .row {
  padding: 5pt;
  font-size: 1rem;
  background-color: @cc-background-color;
  color: @cc-text-color;
}

.LoadMissionPanel .selected, .LoadMissionPanel .selected:hover {
  background-color:  @cc-text-color;
  color: @cc-background-color;
}

.textInput {
  padding: 4pt;
  margin-top: 4pt;
  margin-bottom: 4pt;

  border-width: 0pt;

  background-color: @cc-background-color;
}

.flexSpacer {
  flex-grow: 1;
}

/******** CSS Disconnected ERROR MSG ********************/

.disconnection {
  display: flex;
  align-items: center;
  gap: 12px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  height: 110px;

  padding: 12px;

  background-color: @error-color;
  color: @cc-text-color;

  z-index: 100;
}

.icon {
  width: 60pt;
  height: 60pt;
}

// For things like the bot icons
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jaia-logo {
  width: 40pt;
  height: 40pt;
  margin: 6px 6px 6px 12px;
  border-radius: 4pt;
  border: 1pt solid gray;
}

.jaia-logo.button:hover {
  cursor: pointer;
}

div.closeButton {
  margin: 0;
  font-size: larger;
  cursor: pointer;
}

/******** CSS Accordion ********************/

#botDetailsAccordionContainer,
#hubDetailsAccordionContainer {
  overflow-y: auto;
}

.accordionContainer,
.nestedAccordionContainer {
  overflow-y: auto;
}

.nestedAccordionContainer {
  margin-top: 8px !important;
}

#panel1a-header {
  background-color: @cc-accordian-color;
  color:@cc-accordian-text-color;
}

.css-vubbuv {
  color: #FFFFFF;
}

/******** CSS Stop Mission *****************/

.stopMission {
  background-color: @error-color;
}

.controlling {
  border-style: none;
}

.noncontrolling {
  border-style: solid;
  border-width: 3pt;
  border-color: red;
}

.take-control-panel {
  position: absolute;
  left: 0pt;
  bottom: @command-button-size + (@command-button-margin + @command-button-padding);
  color: white;
  background-color: @overlay-background;
  margin: 8pt;
  padding: 8pt;
  border-radius: 4pt;
  z-index: 2500; /** 2500 places 'Take Control' on top of any other panel so it's always visible */

  #takeControlButton {
    color: @cc-text-color;
    background-color: @good-color;
    margin: 8pt;
    padding: 8pt;
    border-radius: 4pt;
    border-style: none;
  }
}

/******** CSS Mission Planning *****************/
#missionPanel {
  position: absolute;
  top: @command-button-size + (2 * @command-button-padding);
  right: @command-button-size + (2 * @command-button-padding);
  min-width: 402px;
  max-height: calc(95vh - @top-toolbar-height);

  background-color: @overlay-background;
  border: 2px solid @cc-accordian-color;

  z-index: 1;
}

.panel-heading {
  margin: 4pt 8pt 0 8pt;
  padding: 2pt;
  
  color: @cc-text-color-light;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.25px;
  text-align: center;
}

#runList {
  // 77.31px = mission panel command strip, 22.91px = heading, 36px = measured buffer
  max-height: calc(95vh - @top-toolbar-height - 77.31px - 22.91px - 36px);
  overflow-y: auto;
}

.mission-panel-commands-container {
  display: flex;
  background-color: @cc-accordian-color;
  margin: 8pt;
  padding: 2pt 0;
}

.runItemInfo {
  position: relative;
  display: flex;
  align-items: center;
}

.MuiInputBase-root {
  margin-right: 8px;
}

.MuiFormGroup-root {
  margin-left: 8px;
}

#runRepeats {
  color: @cc-text-color;
}

#runList {
  margin: 10px;
}
