div.depth-contour-plot-container {
    display: flex;
    flex-direction: column;
    padding: 5pt;
    background-color: whitesmoke;

    &.center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        height: 85%;
    }

    &.left-half {
        position: absolute;
        top: 0pt;
        left: 0pt;
        width: 50%;
        height: 100%;
    }

    &.right-half {
        position: absolute;
        top: 0pt;
        right: 0pt;
        width: 50%;
        height: 100%;
    }
}

div.depth-contour-plot-topbar {
    width: 100%;
    background-color: whitesmoke;
    display: flex;

    .spacer {
        width: 100%;
        height: 100%;
        flex-grow: 1;
    }
}

div#depth-contour-plot {
    flex-grow: 1;
}
