@import "../../style/stylesheets/vars.less";

.notification-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.notification-dot.red {
    background-color: @error-color;
}

.notification-dot.yellow {
    background-color: @waypoint-color;
}

.notification-dot.jaia-about-button {
    position: absolute;
    top: 3px;
    right: 3px;
}
