[Unit]
Description=Script to pipe GPS data from I2C to a fifo
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
ExecStart=$dir/gps-i2c-pipe.py /etc/jaiabot/dev/gps_i2c

[Install]
WantedBy=multi-user.target
