#!/usr/bin/env -S goby_launch -L -P

gobyd <(../../gen/auv.py gobyd)
goby_gps <(../../gen/auv.py goby_gps)
goby_logger <(../../gen/auv.py goby_logger)
jaiabot_loratest --src 2 --dest 1 -vvv -n --serial 'port: "/dev/ttyACM0" baud: 115200' --transmit --interprocess 'platform: "auv0"' --modem_config Bw500Cr45Sf128 --tx_power 13
