@import "../../../../style/stylesheets/vars.less";

#take-control {
    all: unset;
    position: absolute;
    bottom: 66px;
    left: 75px;
    padding: 15px 30px;
    border: 1px solid @good-color;
    border-radius: 6px;
    background-color: @overlay-background;
    color: @good-color;
    font-size: 1.1rem;
    font-weight: 600;
}
