#!/usr/bin/env -S goby_launch -L -P -d 100

# start this first so it's done before we get to the MOOS parts
[kill=SIGTERM] ../../gen/moos_gen.sh

[kill=SIGTERM] gpsd $(../../gen/bot.py gpsd)

# only run Iridium sim if it's enabled in jaia_comms_mode
[kill=SIGTERM] /bin/bash -c "echo $jaia_comms_mode | grep -q iridium && exec goby_launch -P -L -p bot${jaia_bot_index}_iridium iridium/bot-sim.launch || sleep infinity"

# start the Goby processes
gobyd <(../../gen/bot.py gobyd)
[env=GOBY_MODEMDRIVER_PLUGINS=libjaiabot_xbee.so.1:libjaiabot_wifi.so.1] goby_intervehicle_portal <(../../gen/bot.py goby_intervehicle_portal)
[env=GOBY_MOOS_GATEWAY_PLUGINS=libgoby_ivp_frontseat_moos_gateway_plugin.so.30:libjaiabot_moos_gateway_plugin.so.1] goby_moos_gateway <(../../gen/bot.py goby_moos_gateway)
[env=GOBY_LIAISON_PLUGINS=libjaiabot_liaison.so.1] goby_liaison <(../../gen/bot.py goby_liaison)
jaiabot_simulator <(../../gen/bot.py jaiabot_simulator) -vvv -n
jaiabot_fusion <(../../gen/bot.py jaiabot_fusion)
jaiabot_mission_manager <(../../gen/bot.py jaiabot_mission_manager)
goby_gps <(../../gen/bot.py goby_gps)
goby_logger <(../../gen/bot.py goby_logger)
jaiabot_metadata <(../../gen/bot.py jaiabot_metadata)
jaiabot_sensors <(../../gen/bot.py jaiabot_sensors)
jaiabot_comms_manager <(../../gen/bot.py jaiabot_comms_manager)

[kill=SIGTERM,name=jaiabot_storm_manager] /bin/bash -c "echo $jaia_bot_type | grep -q -i STORM && exec jaiabot_storm_manager <(../../gen/bot.py jaiabot_storm_manager) -vvv -n || sleep infinity"


# vehicle MOOS components
[kill=SIGTERM] MOOSDB /tmp/jaiabot_${jaia_bot_index}.moos
[kill=SIGTERM] pHelmIvP /tmp/jaiabot_${jaia_bot_index}.moos
# [kill=SIGTERM] pMarineViewer /tmp/jaiabot_pmv_${jaia_bot_index}.moos
[kill=SIGTERM] uProcessWatch /tmp/jaiabot_${jaia_bot_index}.moos
[kill=SIGTERM] pNodeReporter /tmp/jaiabot_${jaia_bot_index}.moos

# simulator MOOS components
[kill=SIGTERM] MOOSDB /tmp/jaiabot_sim_${jaia_bot_index}.moos
[kill=SIGTERM] uSimMarine /tmp/jaiabot_sim_${jaia_bot_index}.moos
# [kill=SIGTERM] pMarinePID /tmp/jaiabot_sim_${jaia_bot_index}.moos

jaiabot_pid_control <(../../gen/bot.py jaiabot_pid_control)
jaiabot_engineering <(../../gen/bot.py jaiabot_engineering)

goby_coroner <(../../gen/bot.py goby_coroner) --expected_name goby_liaison --expected_name jaiabot_simulator --expected_name jaiabot_fusion --expected_name jaiabot_mission_manager --expected_name goby_gps --expected_name goby_logger --expected_name jaiabot_metadata --expected_name jaiabot_pid_control --expected_name jaiabot_health --expected_name jaiabot_udp_gateway --expected_name jaiabot_storm_manager
jaiabot_health <(../../gen/bot.py jaiabot_health)

# Need to confirm the below lines included from engineering launch, but commented to match standard

# UDP gateway
jaiabot_udp_gateway <(../../gen/bot.py jaiabot_udp_gateway)

# Camera
[kill=SIGTERM] socat -d -d pty,raw,echo=0,link=/tmp/bot${jaia_bot_index}_camera_0 pty,raw,echo=0,link=/tmp/bot${jaia_bot_index}_camera_1
jaiabot_driver_camera <(../../gen/bot.py jaiabot_driver_camera)

# CTD
jaiabot_ctd_manager <(../../gen/bot.py jaiabot_ctd_manager)

# Arduino motor driver
jaiabot_driver_arduino <(../../gen/bot.py jaiabot_driver_arduino)

# Run rpm.py in simulator mode if we're in the simulator
[kill=SIGTERM] ${jaia_share_dir}/jaiabot/python/venv/bin/python3 ../../../src/python/motor/rpm.py --simulator `../../gen/bot.py rpm.py`
