#!/usr/bin/env -S goby_launch -L -P -d 100

# start this first so it's done before we get to the MOOS parts
[kill=SIGTERM] ../../gen/moos_gen.sh

[kill=SIGTERM] gpsd $(../../gen/bot.py gpsd)

# start the Goby processes
gobyd <(../../gen/bot.py gobyd)
[env=GOBY_MODEMDRIVER_PLUGINS=libjaiabot_xbee.so] goby_intervehicle_portal <(../../gen/bot.py goby_intervehicle_portal)  -vvv -n
[env=GOBY_MOOS_GATEWAY_PLUGINS=libgoby_ivp_frontseat_moos_gateway_plugin.so:libjaiabot_moos_gateway_plugin.so] goby_moos_gateway <(../../gen/bot.py goby_moos_gateway)
goby_liaison_jaiabot <(../../gen/bot.py goby_liaison)
jaiabot_simulator <(../../gen/bot.py jaiabot_simulator)
jaiabot_fusion <(../../gen/bot.py jaiabot_fusion)
jaiabot_mission_manager <(../../gen/bot.py jaiabot_mission_manager) -vvv -n -zzz
goby_gps <(../../gen/bot.py goby_gps)
goby_logger <(../../gen/bot.py goby_logger)
jaiabot_metadata <(../../gen/bot.py jaiabot_metadata)

# vehicle MOOS components
[kill=SIGTERM] MOOSDB /tmp/jaiabot_${jaia_bot_index}.moos
[kill=SIGTERM] pHelmIvP /tmp/jaiabot_${jaia_bot_index}.moos
# [kill=SIGTERM] pMarineViewer /tmp/jaiabot_pmv_${jaia_bot_index}.moos
[kill=SIGTERM] uProcessWatch /tmp/jaiabot_${jaia_bot_index}.moos
[kill=SIGTERM] pNodeReporter /tmp/jaiabot_${jaia_bot_index}.moos

# simulator MOOS components
[kill=SIGTERM] MOOSDB /tmp/jaiabot_sim_${jaia_bot_index}.moos
[kill=SIGTERM] uSimMarine /tmp/jaiabot_sim_${jaia_bot_index}.moos
# [kill=SIGTERM] pMarinePID /tmp/jaiabot_sim_${jaia_bot_index}.moos

jaiabot_pid_control <(../../gen/bot.py jaiabot_pid_control)
jaiabot_engineering <(../../gen/bot.py jaiabot_engineering) -vvvv

goby_coroner <(../../gen/bot.py goby_coroner) --expected_name goby_liaison --expected_name jaiabot_simulator --expected_name jaiabot_fusion --expected_name jaiabot_bluerobotics_pressure_sensor_driver --expected_name jaiabot_mission_manager --expected_name goby_gps --expected_name goby_logger --expected_name jaiabot_metadata --expected jaiabot_pid_control --expected_name jaiabot_health --expected_name jaiabot_adafruit_BNO055_driver --expected_name jaiabot_atlas_scientific_ezo_ec_driver
jaiabot_health <(../../gen/bot.py jaiabot_health)

# Need to confirm the below lines included from engineering launch, but commented to match standard

# Pressure sensor
jaiabot_bluerobotics_pressure_sensor_driver <(../../gen/bot.py jaiabot_bluerobotics_pressure_sensor_driver)

# IMU sensor
jaiabot_adafruit_BNO055_driver <(../../gen/bot.py jaiabot_adafruit_BNO055_driver)

# Salinity sensor
jaiabot_atlas_scientific_ezo_ec_driver <(../../gen/bot.py jaiabot_atlas_scientific_ezo_ec_driver) -vv
