#!/usr/bin/env -S goby_launch -L -P -d 100

# start the Goby processes
[env=GOBY_MODEMDRIVER_PLUGINS=libjaiabot_xbee.so] gobyd <(../../gen/bot.py gobyd)  -vvv -n
goby_logger <(../../gen/bot.py goby_logger)

# IMU sensor
../../../src/python/adafruit_BNO055/jaiabot_imu.py -s 20000 -l DEBUG
jaiabot_adafruit_BNO055_driver <(../../gen/bot.py jaiabot_adafruit_BNO055_driver)  -vvv

