## Arduino
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="arduino"

## BIO payload board
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", SYMLINK+="bio-payload"

## xbee
KERNEL=="ttyAMA4", SYMLINK+="xbee"

## rpicam
SUBSYSTEM=="tty", SUBSYSTEMS=="amba", DRIVERS=="uart-pl011", ATTRS{id}=="00241011", SYMLINK+="rpicam"

## Iridium
KERNEL=="ttyAMA5", SYMLINK+="iridium"

## PAM stack
SUBSYSTEM=="tty", ATTR{iomem_base}=="0xFE201A00", SYMLINK+="pam-stack"

## Power Board (STM32)
SUBSYSTEM=="tty", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", SYMLINK+="power-board"