## Arduino
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="arduino"

## BIO payload board
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", SYMLINK+="bio-payload"

## XBee
KERNEL=="ttyAMA2", SYMLINK+="xbee"

