## Arduino
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="arduino"

## BIO payload board
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", SYMLINK+="bio-payload"

## xbee
KERNEL=="ttyAMA4", SYMLINK+="xbee"

## rpicam
SUBSYSTEM=="tty", SUBSYSTEMS=="amba", DRIVERS=="uart-pl011", ATTRS{id}=="00241011", SYMLINK+="rpicam"
