.layer-group {
    display: grid;
    row-gap: 6px;
}

.layer-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.layer-container span {
    padding: 0;
}

.layer-container p {
    user-select: none;
}
