.settings-panel {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.settings-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding-left: 16px; // Matches MUI accordion text indentation
}

.settings-label {
    color: #fff;
    font-weight: 600;
}

.engineering-accordion-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
