.settings-panel {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.settings-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-track-pod-label {
    color: white;
    font-weight: bold;
}
