@import "../../style/stylesheets/vars.less";

.settings-panel {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.settings-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 21px; // Accounts for MUI switch spacing
}

.settings-label {
    color: #fff;
    font-weight: 600;
}

.engineering-accordion-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.coordinate-system-container {
    display: flex;
    justify-content: center;
}

.coordinate-system-container button {
    all: unset;
    box-sizing: border-box;
    width: 75px;
    padding: 6px 0;
    border: 1px solid #d3d3d3;
    color: #fff;
    text-align: center;
}

.coordinate-system-container .selected {
    background-color: #d3d3d3;
    color: #000;
    border-bottom: 2px solid @error-color;
}
