@import "../../style//stylesheets/util.less";

.waypoint-panel-container {
    position: absolute;
    top: @panel-top;
    right: @panel-right;

    padding: 6px;

    max-height: @panel-max-height;

    background-color: @overlay-background;
}

.waypoint-panel {
    display: grid;
    grid-template-columns: min-content min-content;
    align-items: center;
    gap: 12px;

    padding: 12px;

    background-color: @cc-background-color;
    font-size: 1.1rem;
}

.waypoint-panel .label {
    font-weight: 600;
}

.waypoint-input-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 12px;
    align-items: center;
}

.jaia-button.delete-waypoint {
    justify-self: center;
}

.waypoint-panel .line-break {
    grid-column: 1 / 3;
    height: 1px;
    background-color: #d1d5db;
}

.waypoint-panel .task-parameters-container {
    grid-column: 2 / 3;
}
