.task-parameters {
    display: grid;
    grid-template-columns: min-content 75px min-content;
    align-items: center;
    gap: 12px;
}

.task-parameters input {
    all: unset;
    border: 1px solid #d1d5db;
    border-radius: 3px;
    padding: 6px;
    text-align: right;
}

.task-parameters .units {
    // Move units closer to input box
    margin-left: -6px;
}

.task-parameters .distance-calc {
    padding: 6px;
    text-align: right;
}
