.data-offload-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.data-offload-panel .button-row {
    display: flex;
    gap: 15px;
}

.data-offload-panel .button-row button {
    all: unset;
    box-sizing: border-box;
    width: 90px;
    padding: 9px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.data-offload-panel .accordion-container {
    width: 100%;
}
