.data-offload-panel {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
}

.data-offload-panel .button-row {
    display: flex;
    gap: 15px;
}

.data-offload-panel .button-row button {
    all: unset;
    box-sizing: border-box;
    width: 75px;
    padding: 9px;
    border: 1px solid #1f2937;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: white;
}
