@import "../node_modules/reset-css/reset.css";

@import "../style/stylesheets/vars.less";

@import "../style/stylesheets/accordion.less";
@import "../style/stylesheets/button.less";
@import "../style/stylesheets/details.less";
@import "../style/stylesheets/dialog.less";
@import "../style/stylesheets/input.less";
@import "../style/stylesheets/panel.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: @global-font-family;
}

#root {
    height: 100vh;
    width: 100vw;
}

#jcc {
    height: 100%;
    width: 100%;
}
