.contact-info-panel-base-grid {
    position: absolute;
    top: 66px;
    right: 66px;

    background-color: rgba(0, 0, 0, 0.7);
    padding: 6px;

    border: 2px solid #767d7d;
  
    z-index: 100;
  }

  .contact-info-layout-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 12px;
    padding: 6px;
    background-color: #FFFFFF;
  }

  .contact-info-outer-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 3px 24px 24px 24px;
  }

  .contact-info-close-btn {
    justify-self: flex-start;
  }

  .contact-info-close-btn:hover {
    cursor: pointer;
  }

  .contact-info-title {
    grid-row: 2 / 3;

    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .contact-info-panel-container {
      grid-row: 3 / 4;

      display: grid;
      grid-template-columns: min-content min-content;
      gap: 12px;
      font-size: 1.1rem;
  }

  .contact-info-label {
    grid-column: 1 / 2;
    font-weight: 600;
  }

  .contact-info-input {
    grid-column: 2 / 3;
    text-align: center;
  }

  .contact-info-num-input {
    all: unset;
    width: 75px;
    border: 1px solid #d1d5db;
    border-radius: 3px;
    padding: 6px;
}
  
  .contact-info-button-container {
    grid-column: 1 / 3;
  
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .contact-info-btn {
    all: unset;
    color: #000000;
    padding: 9px 12px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;;

    grid-column: 1 / 3;
    width: max-content;
    margin-top: 6px;
  }
  
  .contact-info-btn:hover {
    cursor: pointer;
  }
  
  .contact-info-line-break {
    grid-column: 1 / 3;

    height: 1px;
    background-color: #D1D5DB;
  }
  