.download-panel-outer-container {
    position: absolute;
    top: 66px;
    right: 66px;

    min-width: 300px;

    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #767d7d;
  
    z-index: 1;
  }

  .download-panel-inner-container {
    margin: 8pt;
    font-size: 1.1rem;

    /* 66px equals max toolbar height */
    max-height: calc(95vh - 66px);
    overflow-y: auto;
}

.download-panel-accordion-inner-container {
    display: flex;
    flex-direction: column;
}

.toolbar {
  width: 100%;
  height: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;
  padding: 2px 16px;
  row-gap: 2px;
}

/* Download Queue CSS */
.download-queue-inner-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 8pt 8pt;
  padding: 12px;
  background-color: #767d7d;
  font-size: 1.1rem;

  /* 282.54 = height of rc panel, 66 = height of top toolbar, 58 = height of btm btn container, 12 = margins/paddings */
  max-height: calc(100vh - (282.54px + 66px + 58px + 14px));
  overflow-y: auto;
}

.download-queue-card {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 9px 12px;
  background-color: #FFFFFF;
}

.download-queue-empty{
  font-size: 0.9rem;
  font-weight: bold;
}