.mission-speed-section {
    display: grid;
    grid-template-columns: max-content 1fr 30px;
    align-items: center;

    margin: 9px 18px;
    column-gap: 18px;

    color: #ffffff;

    font-size: 1rem;
}
