#set-hub-location-panel {
    width: 100%;

    > .panel-heading {
        color: black;
    }

    > .mission-settings-panel-container {
        grid-template-columns: auto auto;

        >input {
            width: 125px;
        }
    }

    >#set-hub-location-submit, >#set-hub-location-map-select {
        margin-left: 0px;
        margin-right: 0px;
    }
}

