.settings-outer-container {
    --toolbar-panels-top: 72px;
    --toolbar-panels-right: 72px;

    position: absolute;
    top: var(--toolbar-panels-top);
    right: var(--toolbar-panels-right);

    min-width: 250px;
    max-height: calc(95vh - var(--toolbar-panels-top));

    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #767d7d;

    display: flex;
    flex-direction: column;

    z-index: 1;

    overflow-y: auto;
}

.settings-inner-container {
    margin: 8pt;
    font-size: 1.1rem;
    overflow-y: auto;
}

.settings-accordion-inner-container {
    display: flex;
    flex-direction: column;
}

.map-layers-inner-container {
    font-size: 1.1rem;
    max-height: 70vh;
    overflow-y: auto;
}

.settings-card-container {
    display: grid;
    padding-left: 14px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.settings-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.settings-card.hub-location-card {
    justify-content: center;
}

.settings-card .button-jcc {
    /* !important overrides width property set in #jcc-container .button-jcc */
    width: 100% !important;
    font-weight: bold;
}

.settings-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9px;
}

.settings-card-grid.hidden {
    display: none;
}

.settings-card-grid.visible {
    border: 1px solid #d1d5db;
    border-radius: 3px;
    padding: 6px;
}

.settings-line-break {
    height: 1px;
    background-color: #d1d5db;
    margin: 12px 0;
}

.settings-label {
    font-weight: bold;
}

.settings-card-grid .settings-label {
    grid-column: 1 / 3;
}

.task-packet-button-container {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
}

.task-packet-checkbox-container {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.9rem;
}

.settings-send-btn {
    grid-column: 2 / 3;
    justify-self: flex-end;
    width: 36px;
    height: auto;
    cursor: pointer;
}

.settings-send-btn.disabled {
    opacity: 0.3;
    cursor: default;
}
