.ctd-offload {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ecf0f1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 24px;
}

.ctd-offload .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-weight: 600;
}

.ctd-offload .close-button {
    all: unset;
    cursor: pointer;
}

.ctd-offload ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ctd-offload li {
    display: flex;
    gap: 6px;
}

.ctd-offload .download-button {
    all: unset;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 6px 18px;
    align-self: center;
    margin-top: 3px;
    cursor: pointer;
}
