@import "../../../style/stylesheets/vars.less";

.jaia-dialog.set-storage {
    align-items: center;
    gap: 24px;
    position: relative;
}
.set-storage .input-container,
.stored-sets-container {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 80%;
}

.set-storage .input-container label,
.stored-sets-container label {
    color: #4b5563;
}

.set-storage input {
    all: unset;
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid #9ca3af;
    border-radius: 3px;
    background-color: #f3f4f6;
}

.set-storage .button-row {
    display: flex;
    gap: 15px;
}

.set-storage .button-row button {
    all: unset;
    box-sizing: border-box;
    width: 75px;
    padding: 9px;
    border: 1px solid #1f2937;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.set-storage button {
    all: unset;
    padding: 6px 15px;
    cursor: pointer;
}

.stored-set-names {
    display: flex;
    flex-direction: column;
    min-height: 75px;
    max-height: 150px;
    overflow-y: auto;

    padding: 6px;
    border: 1px solid #9ca3af;
    border-radius: 3px;
    background-color: #f3f4f6;
    cursor: pointer;
}

.stored-set-row {
    padding: 6px 3px;
}

.stored-set-row.selected {
    background-color: @selected-color;
}

.set-storage .secondary-dialog {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    padding: 15px;
    border-radius: 12px;
    border: 1px solid #9ca3af;
    background-color: #f3f4f6;
}

.set-storage .line-break {
    grid-column: 1 / 3;
    width: 75%;
    height: 1px;
    background-color: #1f2937;
}
