@import "../../../style/stylesheets/vars.less";

#zones-list {
    overflow-y: auto;
    scrollbar-width: none;
}

.zone-accordion-summary {
    gap: 12px;
    margin: 1px 0 0 0 !important;
    background-color: @cc-accordian-color !important;
    color: @cc-text-color-light !important;
}

.zone-accordion-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.zone-assignment {
    font-style: italic;
}

.zone-accordion-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 16px !important;
}

.zone-accordion-row {
    display: flex;
    align-items: center;
    gap: 18px;
}
