[Unit]
Description=jaiabot_plot_web

[Service]
User=${user}
WorkingDirectory=${working_directory}
ExecStart=${working_directory}/jaiabot_plot.py -d /var/log/jaiabot/bot_offload

[Install]
WantedBy=multi-user.target
