@import "../../../style/stylesheets/vars.less";

.loading-panel {
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: center;
    align-items: center;

    color: @cc-text-color-light;
    font-size: 1.2rem;
}
