@import "../../style/stylesheets/vars.less";

.storm-status-initializing {
    color: @warning-color;
}

.storm-status-ready {
    color: @good-color;
}

.storm-status-failed {
    color: @error-color;
}
