[Unit]
Description=Jaia First Boot

# Only run if preseeded
ConditionPathExists=/boot/firmware/jaiabot/init/first-boot.preseed

[Service]
Type=oneshot
RemainAfterExit=true

# required for systemd.py to install the correct User and Group for jaiabot services
Environment=USER=jaia
Environment=DEBIAN_FRONTEND=noninteractive

ExecStart=/etc/jaiabot/init/first-boot.sh
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
